[2013-09-27 09:59] nidup opened #312 "IE8 web browser support"

[2013-10-01 08:54] chris-82 opened #323 "Error when changing user data"
I  just updated to the newest branch.

Everytime I want to edit some user data I receive an error message.

When I type sth. into the fields, there is a request to:
"http://10.211.55.6/api/rest/latest/pagestate"

Response code: 400 (Bad request)

Request:
{
    "restore": false,
    "pagestate": {
        "pageId": "L3VzZXIvdXBkYXRlLzE=",
        "data": "{\"0\":[{\"name\":\"input_action\",\"value

[2013-10-01 11:35] chris-82 opened #324 "Mass edit / attribute language"
When doing a mass edit on products I can select the desired attributes in a dropdown. At first I expected the labels and values change to the currently selected locale. I switched from French to English but all labels and values remained French. Is this going to be changed in future or might all labels and values be displayed in the users active frontend language?

![akeneo_001](https://f.cloud.gi

[2013-10-01 12:23] #323 closed, assigned to nobody

[2013-10-01 21:53] juliensnz opened #328 "Locale code length too short in database"
While running the `./install.sh all prod` command, I get `Data too long for column 'code'` for the locale `fil_PH`.

It seems like the locale `fil_PH` is an exception (6 chars long instead of 5).

Because there is not so much tuple (82) on this table, I think the best solution would be to set the `code` column length to 6. I tested it on my localhost, and it works great.

Ps : The complete error

[2013-10-02 15:18] joshdw1 opened #331 "Metric attributes don't allow decimals"
I think this is probably an ORO issue, but I'm not entirely sure.

If you create a metric type attribute, and then check allow decimals, Akeneo will truncate the value, so 3.5 becomes 3.

This is because the data column of table oro_flexibleentity_metric is defined as decimal(10,0). I changed that to decimal(10,2) in my test database, and everything seemed to work fine. I'm not sure if this could

[2013-10-02 15:29] joshdw1 opened #332 "Unique attribute empties scope"
If you toggle "Unique Value" for an attribute, it will cause the scope dropdown to empty, which means you can't save the attribute.

Steps:

1) Create New Attribute
2) Toggle Unique Value On

You can work around this by changing the type and then changing it back, this will leave Unique Value toggled and refill the scope dropdown.

[2013-10-02 19:44] nidup opened #333 "CSV import > price not imported when only one provided currency"
Raised by @joshdw1

"I haven’t yet been able to import a price, I’m not sure why. I initially had 25.0000, which didn’t work. I tried “25.0000 USD”, this also didn’t work. The code seems to expect that you will have multiple currencies, and not just a single currency. I could be wrong on that, I haven’t looked very closely."

I reproduced on beta-1 and master

[2013-10-03 07:30] #332 closed, assigned to filips-alpe

[2013-10-05 14:13] #328 closed, assigned to nobody

[2013-10-05 14:16] #331 closed, assigned to nobody

[2013-10-05 20:40] adam-j-martin opened #342 "Segmentation Fault"
running ./install.sh all prod is resulting in a segmentation fault:

[code]

Tried running web as well, with following error:

[code]

I have set folders with correct permissions. Am attempting this on MAc OSX10.8 - PHP5.4

Cheers
Adam

[2013-10-05 21:30] #342 closed, assigned to nobody

[2013-10-08 09:36] #333 closed, assigned to nobody

[2013-10-08 14:50] ghost opened #352 "Completeness check after adding attributes to family"
The product completeness is not calculated correctly after adding an attribute to the family. Version: 1.0.0-beta1 "A wild hare

To reproduce:
1. Create a product with a certain family
2. Fill the attribute values so product has 100% completeness
3. Add an attribute to the family and make it required for the appropriate channel
4. Check the product completeness: it is still 100% complete, even tho

[2013-10-09 14:09] #324 closed, assigned to nobody

[2013-10-16 09:26] fplantinet opened #370 "[RuntimeException] besimple/soap-common"
Hello

When i try to install pim-community-dev
php ../composer.phar install

I have this error
- Installing besimple/soap-common (dev-master e9a8384)
  Cloning e9a8384121e4db63ebcbf791df8c177c64f4bc4a

  [RuntimeException]
  Failed to execute git checkout 'e9a8384121e4db63ebcbf791df8c177c64f4bc4a' &
  & git reset --hard 'e9a8384121e4db63ebcbf791df8c177c64f4bc4a'

  fatal: reference is not a tree:

[2013-10-16 10:42] #370 closed, assigned to nobody

[2013-10-16 11:07] fplantinet opened #372 "JS error"
I have this JS error in console :

SyntaxError: invalid property id
gridRegexps :    {&quot;oro_search_results&quot;: /^\/search\/ajax$/,
akeneo...rib.com (ligne 451, col. 34)

[2013-10-17 08:50] #372 closed, assigned to nobody

[2013-10-20 01:59] fplantinet opened #385 "import image ?"
I create five attribute image
and when i try to import
no image import and no error !

i try to store image web/uploads/product  and near csv product and nothing !

when i export one product with image, and i try import, no image in product import.

Where can I see the rules on image import via csv?

[2013-10-20 22:09] #385 closed, assigned to nobody

[2013-10-28 17:21] fplantinet opened #421 "export description error ?"
Hello,

When i try to export my product, short description and description is empty.

In short description i have only text

In description i have text with html Tags

it's normal ?

(on pim-community-standard)

[2013-11-02 00:00] raul782 opened #434 "PHP 5.5 Segmentation fault (core dumped)"
There is a Segmentation fault after I run
 ./install.sh all prod

Total indexed items: 123
 161/161 [============================] 100%
161 created versions.
Dumping exposed routes.
[file+] web/js/routes.js
Segmentation fault (core dumped)

![akeneo-pim-error](https://f.cloud.github.com/assets/181557/1458037/6047f1a6-4351-11e3-9126-fd9ad1fd6305.png)

Any reasons why this is happening?

[2013-11-08 09:08] #312 closed, assigned to nobody

[2013-11-08 10:00] #352 closed, assigned to nobody

[2013-11-12 21:32] BitOne opened #462 "Unable to have a minimal clean installation of Akeneo"
Switch the pim_demo.load_data to false and reloading the DB still load channels, families and groups.

Only very minimal data must be loaded (1 channel and 1 tree).

[2013-11-13 11:01] nidup opened #463 "User must have a catalog locale defined"
By removing default channels and adding a new one, you can fall in following case, the user has no defined catalog locale and the the whole navigation fail (UserContextListener.php line 120)

Extra info,
- delete demo channels
- create a new one with only the en_GB locale
- create a new user

[2013-11-17 21:06] sylvainraye opened #470 "No clear error message while saving a export profile - Need to be improved"
Scenario

1) Access to menu Spread > Export profiles
2) Edit a profile
3) If we change the profile but do not fill the field "oro_batch.product_writer.directoryName.label", the profile is not saved and a small error icon which display the error but no red banner on the top to notify the error (unlike when it's successful) which is a little bit annoying if we didn't see the error and thought that e

[2013-11-19 10:16] nidup opened #478 "Import boolean value in CSV product import"
cf http://www.akeneo.com/topic/change-the-identifier-or-store-in-sku-column-unique-values/#post-1408

[2013-11-19 10:27] #478 closed, assigned to nobody

[2013-11-19 11:14] #470 closed, assigned to nobody

[2013-11-20 15:33] JanRichter opened #484 ""View export report list" twice"
Under "Capabilities" in Roles, the Checkbox: "View export report list" exists twice.
![akeneo](https://f.cloud.github.com/assets/5992142/1583084/93c1c90c-51f8-11e3-9506-b04d0a2f7453.png)

[2013-11-20 17:15] #484 closed, assigned to fitn

[2013-11-22 10:04] #434 closed, assigned to nobody

[2013-11-22 10:06] #421 closed, assigned to nobody

[2013-11-22 13:52] ghost opened #499 "UTF-8 encoded CSV does not work with import"
The Akeneo CSV import does not seem to like UTF-8 encoded CSV files.
1. Using Notepad++ (in Windows), convert a CSV file to UTF-8 encoding
2. Using the default CSV import of Akeneo beta2, import the csv
3. The status will remain "STARTED" and no products are imported
4. Using Notepad++, convert the file to ANSI encoding
5. Repeat the import, now it works.

[2013-11-26 09:50] #499 closed, assigned to nobody

[2013-11-28 09:00] fitn opened #517 "Decimals values in product CSV jobs"
When exporting a number attribute that has “allow decimals” set to No, the export module still exports the value with decimals.

When the software that imports this CSV treats that value as text, you get some unwanted results.

[2013-12-01 14:58] #462 closed, assigned to nidup

[2013-12-02 16:04] srascar opened #531 "Issue with product normalizer"
Hello,
I come to you cause I have a problem with the ProductNormalizer. Channel is never set and i can't figure out why. Here are my logs.

[code]

If you could just tell me were the channel is set i can fix this. Thanks

[2013-12-09 13:08] falcovandermaden opened #556 "Creating categorie structure in Apple Safari"
When using Safari (Versie 7.0 (9537.71)) it's hard, if not impossible to use the "click right" to create a new categorie node

[2013-12-10 18:52] arksalot opened #568 "Error while installing Akeneo"
Hi,

I have two issues with Akeneo.
1. I am receiving the following error while installing Akeneo :

PHP Fatal error:  Class 'MongoCursor' not found in /var/www/vendor/doctrine/mongodb-odm-bundle/Doctrine/Bundle/MongoDBBundle/DependencyInjection/Configuration.php on line 68

2 Also in my another server which I have completed the Akeneo installation is not loading up Graphical images and not loadin

[2013-12-13 15:03] #568 closed, assigned to nobody

[2014-01-21 10:17] ghost opened #658 "CSV connector: csv_attribute_export: missing values/shift in columns"
Using the akeneo demo on demo.akeneo.com, use the "Attribute export in CSV". After the first 5 products, either the label-default or label-en_US disappears, resulting in a missing separator for all following products, so all attributes end up in the wrong column.

![image](https://f.cloud.github.com/assets/5639064/1962287/3237e960-8285-11e3-9084-4cbccb069470.png)

[2014-01-22 14:03] #658 closed, assigned to nobody

[2014-01-24 18:14] BitOne opened #666 "Compatibility with ICU 4.2"
As some mainline Linux distributions (Centos 6, RedHat 6) only provides ICU 4.2, we need to fix our version to 1.1 ICU (see http://symfony.com/doc/current/components/intl.html, deployment issues)

Some adaptations may need to be done to our code as locale code in ICU 4.2 is not the same as ICU 4.4 ('en' in older lib, vs 'en_US' in new version).

[2014-02-01 17:14] JanRichter opened #697 "Issue with attributes"
Hey,

i am not sure if this is a bug but: If you create a new product, for exmaple a digital camera, you're able to add the attribute "Response Time" but this attribute doesn't appears in the family settings of "digital camera." Also,the family contains the attributes "Release Date" and "Picture" but they're marked as "not required." After you created a new digital camera, these two attributes app

[2014-02-04 14:34] #666 closed, assigned to BitOne

[2014-02-05 17:13] coryvdh opened #713 "Attribute type "Simple select" and scope "Channel""
Created an attribute type "Simple select" and scope "Channel".  Added it to a Family. When you open a product, the drop down doesn't appear for this attribute.

[2014-02-12 11:06] #713 closed, assigned to nobody

[2014-02-12 11:08] #463 closed, assigned to nidup

[2014-02-18 22:34] vbnet3d opened #752 "Usability issue"
If a user clicks the "Upload and import now" button with no file selected, the spinner comes up, and will not go away. The following error shows in the log:

"PHP Fatal error:  Call to a member function move() on a non-object in /usr/local/www/apache22/data/pim-community-dev/src/Pim/Bundle/ImportExportBundle/Controller/JobProfileController.php on line 343, referer:"

![error](https://f.cloud.githu

[2014-02-20 20:26] sylvainraye opened #757 "PIM doesn't like APC and PHP 5.5 :-)"
Hello,

 I got some headache to find out why akeneo works on dev environment and not in production. Problem came from APC which doesn't exists in PHP 5.5 and not supported.

Cause of that, I receive the following error message:

[code]

The solution in my case was to disable the following lines into `app/config/config_prod.yml`

[code]

As APC doesn't also works well in PHP 5.4 may be could better

[2014-02-21 09:34] BitOne opened #759 "Use a web subdirectory for Akeneo root installation"
Right now, Akeneo PIM must be installed in the root of a VirtualHost. It's a hosting and HTTP server configuration best practice, and it's not supported by Oro Platform.

Even if we do not recommend it, in some very specific case, it could be useful to have Akeneo in a subdir of the web root (http://my-host.tld/subdir/ instead of http://my-host/).

[2014-02-22 22:57] #757 closed, assigned to nobody

[2014-02-23 19:59] sylvainraye opened #763 "Translation for Oro Platform and Akeneo"
Regarding the README file, the ORO translations should be available at http://crowdin.net/project/oro-platform but the link have no effect on Crowdin (404 error page on Crowdin).
I'm registered for OroCRM but do not find where is Oro Translation package.

Where can I find the translation for Oro Platform?

I am asking because I see in several places missing translation. e.g http://cl.ly/image/0U3d

[2014-02-23 22:24] sylvainraye opened #764 "UI problem when editing a product and using the "Translate from" feature"
Hello

If I edit a product and then want to use the "Translate from" feature for the description attribute for example, I have several issues:
1) the wysiwyg text editor is not displayed anymore for all channels. It will be displayed again only for the field(s) I copied from the source.
2) When I click on the association tab (the categories tab too but I do not manage to reproduce it all the time,

[2014-02-24 09:27] BitOne opened #766 "Provides same data with ProductNormalizer than with FlatProductNormalizer"
For example, family, groups, categories, associations, ...

[2014-02-24 09:28] #531 closed, assigned to nobody

[2014-02-24 09:36] #556 closed, assigned to nobody

[2014-02-24 14:06] fred2gombert opened #768 "Zendesk ticket"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [1](https://akeneo.zendesk.com/agent/#/tickets/1)
**Priority:** high
**Zendesk assignee:** Assistance/Frédéric de Gombert

**Original ticket content:**

Ceci est le premier commentaire. N’hésitez pas à supprimer cet exemple de ticket.

[2014-02-24 14:09] #768 closed, assigned to nobody

[2014-02-24 21:23] sylvainraye opened #771 "Memory limit to 512MB is maybe too short for PHP-CLI"
With PHP 5.5.9 and memory_limit set to 512MB. While trying to install the demo data `php app/console pim:install --env=dev --force`, I got an exhausted memory error:

I work now with the v1.0.0-RC1-sprint31

[code]

[2014-02-24 22:06] sylvainraye opened #772 "Variable 'installed' set to false in parameters.yml after pim:install --force"
All is in the topic. Is it normal behavior? Because cause of that in Akeneo, I am redirected to the install.php page. Doing `php app/console cache:clear --env=dev` has no effect.
Of course when I change manually the variable it's ok again.

[2014-02-24 22:20] sylvainraye opened #773 "Demo data mandatory?"
Dear Akeneo Team,
I tried to do an install without demo data, just with the data from OroPlatform to have default users. Just to get a look of the system without demo and allowing me starting from scratch.
I did the following `php app/console --help pim:install --task=all --fixtures=OroPlatform`.
Is the Akeneo demo data mandatory when installing Akeneo? Because I had the following issues when tryi

[2014-02-25 08:19] #773 closed, assigned to nobody

[2014-02-25 10:20] #772 closed, assigned to nobody

[2014-02-25 13:54] sylvainraye opened #778 "[Enhancement] - Reset Button"
It will be nice to have a button to reset the changes when editing content (products, users, etc) instead of only the buttons "Back" , "Delete" and "Save"

![screen shot 2014-02-25 at 14 53 16](https://f.cloud.github.com/assets/1337461/2258127/33808cfe-9e24-11e3-9b89-a2a90e4c7963.png)

It will be good exercise for me to implement it. Let me do that...

[2014-02-25 14:46] #778 closed, assigned to nobody

[2014-03-05 18:06] Raymerica opened #813 "Categories UI issue - scrolling on long subcategories"
Last sub-category gets cut off on longer sub cat lists

![akeneo_category_ui_scroll_issue](https://f.cloud.github.com/assets/5586812/2336510/92e68ff0-a490-11e3-9bbd-2cacaa5cea05.jpg)

[2014-03-11 18:48] #752 closed, assigned to gquemener

[2014-03-11 18:54] vbnet3d opened #850 "Batch Import/Upload Failure"
This is related to #752. The fix for that issue resulted in a message "You must select a file to upload." So far, so good. The problem is that, if files exist in job directories, i.e. tmp/product.csv, then batch imports will be executed for every available file. See attached screenshot. An upload failure should abort any batch execution.
![issue](https://f.cloud.github.com/assets/2856405/2389505/b

[2014-03-20 00:55] sylvainraye opened #906 "Missing FR translation in User Management Grid in PIM 1.0.1"
![capture decran 2014-03-20 a 01 49 07](https://f.cloud.github.com/assets/1337461/2467946/3ee3ca72-afca-11e3-85d3-cfb0cbd372f1.png)

[2014-03-20 00:56] sylvainraye opened #907 "Enhancement: Select all / Deselect All for checkbox in grid - PIM 1.0.1"
![capture decran 2014-03-20 a 01 44 07](https://f.cloud.github.com/assets/1337461/2467949/6d495db4-afca-11e3-97df-fdebba6ab5d5.png)

[2014-03-20 01:16] sylvainraye opened #908 "Missing value in history of "Groupe de variante""
![capture decran 2014-03-20 a 02 13 49](https://f.cloud.github.com/assets/1337461/2468045/35ebebcc-afcd-11e3-9ce0-e90d437722ba.png)

[2014-03-20 09:19] #907 closed, assigned to nobody

[2014-03-20 16:32] #906 closed, assigned to nobody

[2014-04-15 07:55] derdeakon opened #1021 "Mass Edit Price - Update"
Hello,

i want to update more than 1 Product per mass edit function. After i've selected the products and fill in the new price in the field, i want to confirm this action. I got every time the same error message "Sorry, Page was not correctly loaded".

for more infos i took a look in the console:
The message was: Fatal error: Call to a member function setData() on a non-object in /mnt/data/home/p

[2014-04-15 08:14] #1021 closed, assigned to nobody

[2014-04-25 22:44] jasperdcbe opened #1042 "Configuration overwrite for akeneo:batch:job doesn't work as documented"
Hi,

I just updated to version 1.1.0 and noticed that the following command was not working as expected. When running akeneo:batch:job --help, the help states:
 --config (-c) Override job configuration (formatted as json. ie: php app/console akeneo:batch:job -c '[{"reader":{"filePath":"/tmp/foo.csv"}}]' acme_product_import)

When executing this I received an error about the file not being found:
.

[2014-06-05 12:43] tom00 opened #1119 "Fatal error on csv products import if missing "identifier" attribute"
There is missing exception handling of the situation if the csv product data feed lacks an attribute of "pim_catalog_identifier" type.

The stack trace is the following:

Fatal error: Call to a member function getCode() on a non-object in /home/akeneo/var/www/html/akeneo/public_html/vendor/akeneo/pim-community-dev/src/Pim/Bundle/TransformBundle/Transformer/ProductTransformer.php on line 122

Call

[2014-06-13 08:48] #763 closed, assigned to nobody

[2014-06-13 08:49] #764 closed, assigned to filips-alpe

[2014-06-13 08:50] #908 closed, assigned to nobody

[2014-06-13 08:50] #813 closed, assigned to nobody

[2014-06-13 08:50] #771 closed, assigned to nobody

[2014-06-25 07:20] Schwierig opened #1191 "RequireJS Config Building fails"
When require JS is running its generateMainConfig function (Oro\Bundle\RequireJSBundle\Provider\Config.php:83) the PimEnrich Bundle and the OroSegmentationTree Bundle are both using the same parameter key, which results in an exception being thrown due to an array being handed into the substr function.

_Pim/Bundle/EnrichBundle/Resources/config/requirejs.yml_
`jstree/jquery.jstree.tree_selector: p

[2014-06-26 13:24] #1191 closed, assigned to nobody

[2014-07-02 02:50] mannydoaba opened #1217 "When I Edit Product I get 404 error"
When I try to edit any product I get following error
Oops! An Error Occurred
The server returned a "404 Not Found".
Something is broken. Please e-mail us at [email] and let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

Thanks,
Manny

[2014-07-02 03:12] mannydoaba opened #1218 "How to create Families using csv import"
I was able to create Categories, Attributes and Attributes Options using CSV Import. but I don't see a way to import families

[2014-07-02 07:52] #1217 closed, assigned to nobody

[2014-07-16 15:01] jbouzekri opened #1254 "Override product model"
Hi,

In the previous version of Akeneo, I had an override of the Product Model by configuring my custom entity in the key pim_catalog.entity.product.class in the entities.yml file.

However with this method, when using the doctrine schema update command, I had 2 different tables for the product entity and its relations tables. One for the old model and one for the new one from my bundle. So the ol

[2014-07-28 19:50] tom00 opened #1314 "Attribute Translation: copy value from a drop down does not work"
Version: 1.1

Copying values from text field or text area works fine but not from a localisable drop down.

![screen shot 2014-07-28 at 9 44 56 pm](https://cloud.githubusercontent.com/assets/6136403/3726150/2f255560-1690-11e4-90c5-b4612bbe8094.png)

Is it a known issue or new one?

[2014-07-29 13:35] tom00 opened #1318 "Completeness not calculated automatically for products imported from CSV"
Version: 1.1

The products imported using CSV Import do not get completeness updated.
The workaround is, either each product to be opened and saved individually or completeness update job fixes the problem.

[2014-08-01 08:55] jbouzekri opened #1335 "problem with locale ACL in 1.1"
Hi,

In the 1.1.\* version of Akeneo, we cannot seem to create a custom role because of a problem with the locale acl when submitting the role update form. The role on locale is never updated and when we log in using our new role we have the following exception :

An exception has been thrown during the rendering of a template ("User doesn't have access to any activated locales") in PimDashboardBu

[2014-08-01 10:24] #1335 closed, assigned to nobody

[2014-08-05 11:36] ruslan-polutsygan opened #1357 "Export data into csv file"
Hello,

How much memory would you recommend to allocate for PHP to export  more than 8000 product with about 200 attributes for each?
Export command fails even with 4GB of memory.
Is there a way to run command to work with only a batch of products? So that I could run several its instances to speedup the process and decrease memory leaks.

Please advice.

[2014-08-07 15:11] #1357 closed, assigned to nobody

[2014-08-12 12:39] #1218 closed, assigned to nobody

[2014-08-12 12:39] #697 closed, assigned to nobody

[2014-08-12 12:50] #850 closed, assigned to nobody

[2014-08-12 12:51] #1042 closed, assigned to BitOne

[2014-08-12 12:53] #517 closed, assigned to nobody

[2014-08-12 12:53] #1119 closed, assigned to BitOne

[2014-08-15 09:37] #766 closed, assigned to nobody

[2014-08-15 11:09] ruslan-polutsygan opened #1403 "Custom entity import from csv-file."
Hello
Is there way (only via batch_jobs configuration) to import custom entity data from csv-file?
Seems that I need to create my own `Processor`. `Reader` and `Writer` can be reused I guess.

Am I right?
Please advice.

[2014-08-22 14:33] #1403 closed, assigned to nobody

[2014-08-26 07:46] Schwierig opened #1427 "Users are always able to edit roles even without ACE"
Hi,
since we don't have an hierarchical structure when it comes to roles it is difficult to give users the right to create new users without being able to give everyone adminstrator rights.
Either implementing an hierarchy or disabling the roles management completely when revoking the ACE could be a solution.

[2014-09-05 15:05] arnolanglade opened #1497 "AttributeType File/Image are correctly rendered"
These attributes are not correctly rendered on Firefox 30 (I use Linux).
![akeneo](https://cloud.githubusercontent.com/assets/3585922/4166722/9b3b8d96-350d-11e4-8158-531562abda69.png)

[2014-09-06 10:40] #1497 closed, assigned to nobody

[2014-09-08 10:37] arnolanglade opened #1501 "Displaying error messages"
In the development environment, when we got a error the trace is rendered but the page is truncated (overflow: hidden) and the toolbar JavaScript is enable. It is a bit annoying because we can read the end of the trace. We can not click on the "plus" button (printed in the trace).

[2014-09-08 10:50] aRn0D opened #1502 "Doctrine mapping"
I wanted to extends the attribute this morning. I was a bit surprise when I discover that the entities are declared as a entity (not Mapped Superclasses)! I needed to copy/paste the existing mapping and adding my own changes. Do you plan to (want to) create a listener which transform Mapped Superclasses in entity if they have not child ? Something like [this] (https://github.com/Sylius/Sylius/blob

[2014-09-08 15:04] #1501 closed, assigned to nobody

[2014-09-12 13:49] arnolanglade opened #1532 "Log management"
I tried to load my fixture (attributes, families) and I got some errors so the console returns :

[code]

This files does not exist! 7 directories has been created (named 1,2,3,4,5,6,7). The log is in the directory `1` but it is named differently and the rest of the directories are empties. What happen ?

Thank you.

[2014-09-15 09:09] aRn0D opened #1535 "[Bug]Product association"
It seems that too many request are sent!? The first three and the last three are the same (url+ returned date), see the following screenshot ?

![akeneo-association](https://cloud.githubusercontent.com/assets/3585922/4269042/6508cde0-3cb7-11e4-8134-022bba09779f.png)

[2014-09-15 12:58] #1532 closed, assigned to nobody

[2014-09-16 15:11] ahrrikis opened #1539 "MongoDB: After Update to Akeneo 1.2.* Product couldn't be opened in PIM"
Hi,
after I ran the update script for media files in mongoDB the PIM couldn't open some products due to the error:
PHP Catchable fatal error:  Argument 2 passed to Doctrine\\ODM\\MongoDB\\UnitOfWork::getClassNameForAssociation() must be of the type array, object given, called in /var/www/pim/app/cache/prod/doctrine/odm/mongodb/Hydrators/PimBundleCatalogBundleModelProductValueHydrator.php on line 1

[2014-09-18 17:21] emileswarts opened #1551 "Filter products by attribute and category."
Hi

I have a Boolean attribute called 'is_master' on products.  I use variants so need to identify the master by this attribute.

Ultimately what I need is all the master products in a specific category.

My unsuccessful attempt so far has been this:

[code]

This above does not work, and I was hoping someone could let me know if this is the correct approach to be taking?

Thanks

[2014-09-19 10:57] #1551 closed, assigned to nobody

[2014-09-19 17:33] sowasred2012 opened #1557 "Associations.yml - missing identifier column"
Hi, I'm trying to run the import jobs for products and associations, I've got an associations.yml full of the associations I want to make, but every time it gets to that job, it returns a MissingIdentifierException: "No identifier column."

My yaml file looks like this:

<pre><code>associations:
    - owner: BS15-700-15019
      association_type: related
      products:
        - BS20-700-15000

[2014-09-29 12:16] dhsl opened #1607 "Attribute name validation"
When creating a new attribute, akeneo doesn't check if the attribute code is hardcoded somewhere.
I created an attribute with the code 'id' which should hold an ID of a foreign system. It was also possible to import some products with it, but when I wanted to edit a product, it gave me an error that it can't find a product with a given ID.

Would be great if it told me that 'id' is hardcoded when

[2014-10-03 13:12] emileswarts opened #1624 "useableAsGridColumn attribute in fixtures"
Hi

I did an Akeneo update yesterday, and have a new error when importing the fixtures.

Fixtures fixtures_association_type_yml has been successfully executed.
An error occured during the fixtures execution.
Error #0 in class Pim\Bundle\TransformBundle\Exception\UnknownColumnException: Properties [useableAsGridColumn] do not exist in Attribute.

Any idea why this has started happening?

[2014-10-13 15:40] ruslan-polutsygan opened #1657 "It is possible to import duplicates for unique attribute"
Hi

Well, the title describes the problem.
I thought this is related to my customization or because of using 1.1 version - but I have managed reproduced this issue on demo http://demo.akeneo.com

Execution page is http://demo.akeneo.com/collect/import/#url=/collect/import_execution/17
It says that two items have wrong data - http://i.imgur.com/BvN3Q5n.png
However, here is product list - http://i.i

[2014-10-14 09:00] ruslan-polutsygan opened #1658 "Validation on import"
Hi

One more thing related to https://github.com/akeneo/pim-community-dev/issues/1657

Data being imported is not going to be validated for uniqueness.
Because, Unique Validator relies on propertyPath https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/CatalogBundle/Validator/Constraints/UniqueValueValidator.php#L66
which is missing from `ExecutionContext` created after calling

[2014-10-24 15:20] arnolanglade opened #1704 "New attribut type (sort of collection type)"
I created a new attribute which is a collection of files. Those files are not a simple ProductMedia, I extends this model and I added an extra property (a boolean). The form type is corectly rendered, I can add and remove items (I used the javascript provided bu the oroplateform).

When I try to save my collection, it happens something very strange! I can not delete the last item, it is the same w

[2014-11-05 08:56] #1658 closed, assigned to jjanvier

[2014-11-05 08:57] #1657 closed, assigned to jjanvier

[2014-11-05 10:37] #1704 closed, assigned to nobody

[2014-11-21 12:01] emileswarts opened #1813 "Pim imports with a customised attribute on Pim Category"
Hi

I have followed the instructions mentioned here to customise my category entity:
http://docs.akeneo.com/latest/cookbook/category/add-properties-to-category.html

It works great except when I do:
php app/console pim:installer:load-fixtures src/ProductBundle/Resources/fixtures/data/*

This gives me an error message as follows:

[Pim\Bundle\InstallerBundle\Exception\JobExecutionException]
  STEP

[2014-11-24 09:16] ghost opened #1827 "bundle about product supplier"
PIM have a product supplier bundle or not?
It's the necessary components

[2014-11-25 13:43] aRn0D opened #1839 "[Question] Overriding css"
Hi there,
I wanted to change the pim colors. I created my own variable.less with my custom colors. I put it in my bundle which extends the PimUIBundle but nothing changed... Snif... Does overriding assets work same as template ? Thus I needed to override pim.less for including my variable.less

Is it the right way? I ask this question because with this solution I had to copy paste the whole of the

[2014-12-10 14:38] BatsaxIV opened #1878 "Fixtures - using csv and/or yml"
Hi,

Following the document for creating new fixtures (http://docs.akeneo.com/1.2/cookbook/setup_data/customize_installer.html#add-your-own-data), it's written that *All fixtures can be created in CSV or YAML* ; but it's natively impossible (I suppose) to insert a specific fixture in a different format that the one defined in **fixtures_jobs.yml**  (_InstallerBundle/Resources/config/_).

Unless ov

[2014-12-30 13:50] aRn0D opened #1951 "Pim installer"
I started a new project which follows the Symfony best practices (I try...). I wanted to put my fixtures into `app/Resource/fixtures` but it is impossible because Akeneo excepts something like MyBundle:fixture_dir. It should be useful to configure a path too. What do you think ?

Edit : The code used to calculate that path is "copied/pasted" at 2 places (into `PimInstallerExtenstion` and `FixtureJ

[2014-12-31 15:13] #1827 closed, assigned to nobody

[2014-12-31 15:14] #1557 closed, assigned to nobody

[2014-12-31 15:15] #1607 closed, assigned to nobody

[2015-01-12 14:42] #1813 closed

[2015-01-12 14:42] #1624 closed

[2015-01-14 15:05] aRn0D opened #2000 "Impossible to override AttributeOption Entity"
I extended and overrided the doctrine mapping but doctrine was bot able to generated the `attribute_id` column in my database. I don't know why! I copied/pasted the whole of the entity into mine, I did the same for the mapping and it works...

Did I do something wrong? Adding a abstract model should solve the problem even if it is not the right solution. Interested by a PR!?

[2015-01-15 14:14] aRn0D opened #2005 "Fixtures format consistency"
The structure of the file `attribute_options.yml` is a bit different than 'attributes.yml' for example
[code]
You need to repeat the code two times
[code]

Do CSV is supported by the installer? I speak about the attribute options.

[2015-01-15 15:32] aRn0D commented on #1951
@nidup I close it because it is impossible to follow the SF best practice but the second post is a real bug but what I do, create a new issue or not?

[2015-01-15 15:32] #1951 closed

[2015-01-15 15:33] nidup commented on #1951
Hi ! New issue please, thx !

[2015-01-15 15:35] aRn0D opened #2006 "[InstallerBundle] impossible to load fixtures (minimal)"
It is seems that the fixture "minimal" can not be loaded.The yaml file is not correctly parsed and I got:

[code]
It works with csv file

[2015-01-15 15:35] aRn0D commented on #1951
done by #2006

[2015-01-15 16:16] aRn0D opened #2007 "Double Scroll on the product edition"
When your product edition is too large, a double scroll appears on FireFox 34 but il work for Chromium. Please see a sceenshot below:

![double_scroll](https://cloud.githubusercontent.com/assets/3585922/5761148/b96cd3e0-9cd9-11e4-965d-3f96a94a3025.png)

[2015-01-15 16:22] nidup commented on #2005
For now, we only use it for products and categories, in 1.3, InstallerBundle has been re-worked to use imports (batch jobs) but there is still some work to do. Support can be added.

[2015-01-15 16:36] aRn0D commented on #2005
Ok. I spent few hours to make yaml files. Csv can be created quickly so I think you should support csv! Fixtures jobs seem pretty cood, I will test the product import. Thanks for help !

[2015-01-15 16:36] #2005 closed

[2015-01-15 16:49] nidup commented on #2000
Hi @aRn0D

In fact, I already met this kind of issue there is some time now (older version of doctrine) with MappedSuperClass which manages to generate fields only but not relations except when copy / paste. As you said, introduce an Abstract does the job but it's not a really clean way to do so.

Why do you need to override the AttributeOption ? You add some fields inside ?

FYI, in 1.3, we're ad

[2015-01-15 17:07] aRn0D commented on #2000
@nidup I wanted to create a new attribute, a kind custom select (HTML). Each options will depend on the value of another attribute. For example : I have two attributes City and Postal code, the second one depends on the first one. When you select a city the options of postal code will be updated, we will only display the options which depend on the selected city. So I need to override AttributeOpt

[2015-01-16 11:21] aRn0D opened #2012 "PDF generation after (csv) import"
I created a import profile which use connector "Akeneo CSV Connector", I ran it, it worked well! I went to my product edition page, I saw all the imported data. I wanted to test the PDF generation and I got the following error :

[code]

My product has media attribute but all of them are empty for now. PDF generation seems to work when the production is created manually!

[2015-01-17 15:42] nidup commented on #2000
Ok, I understand, we prepare the ground with interfaces but you're right we need to go further on this topic, I've seen some related PR proposal somewhere ;)

[2015-01-19 10:11] aRn0D opened #2019 "Javascript error on the dashboard"
On my dashboard I got the following error : `Error: The route "pim_dashboard_widget_data" does not exist.` (router.js, line 9). I searched it in the core and this route exists.

Did I break something or is it a known problem on the dev-master?

[2015-01-23 08:30] #2012 closed

[2015-01-26 09:29] alafon opened #2063 "resolvedFilePath should be protected instead of private in FileWriter.php (BaseConnectorBundle)"
This prevents anyone to extend the class without also re-defining the `setFilePath()` method in order to correctly manage the `resolvedFilePath` property. Not sure if this should be considered as a bug or a non-feature :smile: But if it does not break anything on your side, then it would be more convenient to change the visibility of this property.

More explanations :

- `setFilePath()` initializ

[2015-01-26 14:18] #2063 closed

[2015-01-26 14:27] nidup commented on #2063
As discussed on your PR, our policy is to never use private as visibility, don't hesitate to do other PRs if you encounter other issue with a private visibility. Thx.

[2015-01-26 14:29] alafon commented on #2063
Will do :+1:

[2015-01-26 22:19] diglin opened #2068 "Configuration of localization is not taken in account"
The only way to change the interface language is by changing the parameter.yml and the locale to de for german or to fr for french.

If I try to use the configuration located into the menu System > Configuration, the language is never changed even I log out or delete the Akeneo cache

By the way, it will be also great that each user can have his own interface language

[2015-01-28 08:22] nidup commented on #2068
Hi @diglin,
Thank you for the feedback !
On which version do you encounter the language switching issue ? With a prod or dev install ?
100% agree for the language of the UI per user, this enhancement is in our roadmap.

[2015-01-28 08:27] diglin commented on #2068
Hi @nidup

Great that we are agree ;-)

I encounter the issue on a prod install with the latest version 1.2.22

[2015-02-03 08:21] aRn0D commented on #1951
@nidup perhaps something like that can use (I don't test it I just saw it few minutes ago)
[code]

[2015-02-06 09:46] aRn0D commented on #2007
@nidup cf. last tweet ;)

[2015-02-06 12:51] nidup commented on #2007
@aRn0D forwarded to the team ;)

[2015-02-09 13:55] BatsaxIV opened #2153 "Image field in product form"
Hello,

Is it plan to increase the size of the image field in the product form ?
To see the entire name (when it's long), you have to click the image.

See screenshot below :

![picture-name](https://cloud.githubusercontent.com/assets/1379286/6107413/fa4ce3e2-b06a-11e4-804f-de772c5a983b.png)

Thanks.

[2015-02-09 14:04] nidup commented on #2153
Hello,
Thank you for the feedback.
we plan to enhance the product form in the coming 1.4
Best regards

[2015-02-12 09:11] aRn0D opened #2167 "Attribute creation"
I have the following fixtures :
[code]
I ran the command `pim:install:db` and my attribute well created but when I wanted to save its value a decimal is stored in the database. Is it a bug or did I do something wrong?

[2015-02-12 09:17] filipsalpe commented on #2167
The decimalsAllowed property is used for validation but a decimal is stored in the database anway - for the case when you decide to change this validation (for example, change it from decimalsAllowed: true to decimalsAllowed: false). You probably noticed that the value still has to be an integer otherwise validation fails. So, essentially, this configuration gives you a integer in the UI but a "de

[2015-02-13 08:08] couda opened #2174 "Datagrid Configuration shows only [object Object]"
I was reading the new features of the version 1.3 and testing them in the demo application.

While testing the feature "Add filters for image and file attributes" I saw, that the attributes in the Datagrid Configuration were shown only as [object Object]. The localization of the system is set to default "English".

![2015-02-13 09_07_50-products](https://cloud.githubusercontent.com/assets/3909042/

[2015-02-13 08:21] filipsalpe commented on #2174
This looks nothing like the new awesome UI. Could you try clearing your browser cache?

[2015-02-13 08:22] sumbobyboys commented on #2174
Hello @couda,

It seems that you still have some old javascript in your browser cache :)

After a cache clear everything should work as expected.

Regards,

Julien

[2015-02-13 08:31] couda commented on #2174
After clearing the browser cache, the new ui looks great!

Best regards,
couda

[2015-02-13 08:57] #2174 closed

[2015-02-13 14:47] alafon opened #2181 "Upgrade LiipImagineBundle to branch 1.2.x"
Would be nice to upgrade the bundle to its last version.
It provides excellent improvements such as DataLoaders : http://symfony.com/doc/master/bundles/LiipImagineBundle/data-loaders.html

I know that it can be tricky since it's a "hardcoded" dependency in the OroPlatform but leaving outdated dependencies in Akeneo PIM is not much good either for integrators who wants to build rich bundles on top

[2015-02-13 14:56] nidup commented on #2181
Hello Arnaud,
You're right. FYI, since the 1.3 we moved all deps in our own composer.json cf https://github.com/akeneo/pim-community-dev/blob/master/composer.json
We plan to do some bumps and cleanup for the 1.4.

[2015-02-13 14:58] alafon commented on #2181
Just a word : perfect :+1:

[2015-02-16 16:28] vbnet3d opened #2187 "REST API request breaks for products with "." in SKU"
Assuming both the following skus exist in the catalog:

Example Working URL: /api/rest/products/SKU-000.json - this one returns valid JSON
Example Broken URL: /api/rest/products/SKU.000.json - this one both fails to return JSON and generates a 404 error on the server.

Result page:

HTTP Return code:404 RESULT:
# Oops! An Error Occurred

The server returned a "404 Not Found".

Something is broken.

[2015-02-17 08:56] #2167 closed

[2015-02-17 08:56] #2181 closed

[2015-02-25 08:28] scivray opened #2222 "Import localizable attribute option issue"
Hi,
With version 1.3.1 on Ubuntu 14.04, when I try to import attribute option values from a csv, the values act weird.
For instance, I create a attribute simple select localizable named test.
I create a import job and try to import a simple csv like this :

attribute;code;sort_order;label-fr_FR;label-en_US;label-de_DE
test;test_A04;3;04FR;04US;04DE
test;test_A05;2;05FR;05US;05DE
test;test_A06;1;06

[2015-02-25 09:04] sumbobyboys commented on #2222
Hi @scivray,

Thanks for your bug report. We aware of this bug and currently working on it.

Regards,

Julien

[2015-02-26 14:53] BatsaxIV opened #2232 "Product import with custom attributes on Category"
Hi,

I'm facing a problem with a custom category entity and product import.

I've created a custom category with the related cookbook (http://docs.akeneo.com/1.2/cookbook/category/add-properties-to-category.html) and everything is working fine.

Except when I'm trying to insert a large product import file (through the standard akeneo csv product connector), I'm getting an error :

I've seen this i

[2015-02-26 16:31] BatsaxIV commented on #2232
I've tested from a brand new PIM installation (1.2.29), creating only a custom Category entity and relauching pim:installer:db.

File MyCategory.orm.yml :
[code]

File MyCategory.php :
[code]

File entities.yml :
[code]

The task fails with the same error :

Error #0 in class Doctrine\ORM\ORMInvalidArgumentException: A new entity was found through the relationship 'Pim\Bundle\CatalogBundle\Model\P

[2015-02-26 16:40] BatsaxIV commented on #2232
File MyCategory.orm.yml with cascade/persist :

[code]
Same problem.

Also, same problem on a fresh PIM 1.3.1 install.

[2015-02-27 15:44] skeleton commented on #2222
Bug has been fixed in 1.3.2.

[2015-02-27 15:44] #2222 closed

[2015-03-01 15:51] shandyDev commented on #1218
I implemented family import like I said above, but I got this error:
[code]

Akeneo PIM v1.3.1
Used for batch job:
         processor: pim_base_connector.processor.family
         writer:    pim_base_connector.writer.doctrine

[2015-03-02 16:26] cjanody opened #2262 "[BUG] Completeness calculation error"
Hi,

We found a bug in completeness calculation. You can reproduice it on the demo site.
Here are the steps to reproduce the calculation error:
- Edit a family, add an attribute and set it as required;
- Save your changes;
- Remove your new attribute without unsetting the requirement;
- Go to a product and save it to calculate the completeness;

=> The removed attribute appeared as missing which i

[2015-03-03 14:25] Nuscly commented on #2262
Thanks for the report, we create a ticket about it in our internal tracker https://akeneo.atlassian.net/browse/PIM-3848. It will be fixed soon.

[2015-03-03 17:03] Nuscly commented on #2232
Hello,

Thanks to use the forum to ask question in http://www.akeneo.com/forums/forum/programming-questions/ for programming question.

Perhaps it's related to the cacheClearer :

Try to test to remove this line https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/BaseConnectorBundle/Writer/Doctrine/ProductWriter.php#L112

And detach object insteed with something like this : $thi

[2015-03-04 14:09] vbnet3d commented on #2019
We have the same error on production. app_dev.php is functioning properly. This is a 1.3.3 upgrade from 1.2.

[2015-03-04 14:54] jmleroux commented on #2019
Hello @vbnet3d ,

Did you regenerate your assets ?

`php app/console pim:installer:assets --env=prod`

Note : you can also clean your browser cache after.

Regards,

JM Leroux

[2015-03-04 14:58] vbnet3d commented on #2019
I did when I installed, but there must have been an issue before because it worked now. Here is the procedure I had to follow:

php app/console pim:installer:assets --env=prod
php app/console cache:clear --env=prod
php app/console cache:warm --env=prod

+ clear browser cache.

[2015-03-04 15:04] #2019 closed

[2015-03-04 22:39] shandyDev opened #2270 "[BUG] Association tab Fatal error"
After upgrade from Akaneo 1.3.2 to 1.3.3 (I saw what Oro platform was updated in composer too) I getting follow error during click and opening Association tab on product edit page.
[code]
Is it my bug only? Or you know where come from it?

And by the way because of this issue  #1535 I see 3 error popup on fronend.

[2015-03-09 08:51] jjanvier commented on #2270
Hello @shandyDev,

Sorry for the late answer.  Do you still have this bug ? Could you tell me more about it ? Because I'm not able to reproduce it on demo.akeneo.com

[2015-03-09 13:19] sumbobyboys commented on #2262
Hi @cjanody,

I don't manage to reproduce your scenario. We fixed an completeness bug last week so it maybe fixed this one too.

If you still can reproduce the bug on demo, could you please give us a more detailed scenario or a screencast ?

Regards,

Julien

[2015-03-09 13:57] vbnet3d commented on #2187
The problem appears to be curl and not the API. It is possible that it may be resolved by substituting a character code and modifying the API to convert the code back to a period. I will experiment on my system.

[2015-03-09 15:19] vbnet3d commented on #2187
In my API call, I am now substituting "_0x2E_" for ".".

I added "$identifier = str_replace('_0x2E_', '.', $identifier);" at the top of handleGetRequest() in src/Pim/Bundle/WebServiceBundle/Controller/Rest/ProductController.php. This fixed the issue:

[2015-03-10 09:34] BatsaxIV commented on #2232
Hi,

I just test your solution (only removing the line), it works ; however I think it's more a workaround than a reliable solution.
Is this bug going to be corrected in a future release ?

Thanks,
Jérémy.

[2015-03-12 10:36] emileswarts opened #2321 "Localised fields on overridden Category."
Hi

Thanks for all the work you guys have done on this project.

I have a custom category, set up as described here:
http://docs.akeneo.com/latest/cookbook/category/add-properties-to-category.html

Is there any easy way to make these new properties translatable?

[2015-03-12 12:27] jmleroux commented on #2321
Hello,

You could use the Twig `trans` fiter.

Something like this :
```{{ form_row(form.customCategory, , { 'label': 'custom.category.label'|trans }) }}```

Regards,

JM

[2015-03-12 12:42] emileswarts commented on #2321
Thanks for the quick response.

The attribute that needs to be translatable is a new 'Description' field that I added to the extended entity (as per the example).
 I need to give the user a number of inputs in the category admin for this field that they can fill in (Same as the node values currently does).

Is there an easy way to do this right now that you know of?

[2015-03-12 21:07] emileswarts commented on #2321
I am trying to overwrite the CategoryTranslation class in the same way that I did with Category.

I have this in my entities.yml file:
    pim_catalog.entity.category.class: Foo\ProductBundle\Entity\FooCategory
    pim_catalog.entity.category_translation.class: Foo\ProductBundle\Entity\FooCategoryTranslation

Both these custom entities exist.

However, when I create a new Category with translated

[2015-03-14 10:56] emileswarts commented on #2321
I managed to solve this by replacing the translation class entirely in my own code, and not just extending category translation.  Thanks

[2015-03-14 10:56] #2321 closed

[2015-03-15 16:10] panploenes commented on #517
This is still an issue. I tried exporting with the quick export button.

[2015-03-15 16:27] panploenes opened #2333 "[BUG] Number attribute exports always with decimals"
When exporting a number attribute that has “allow decimals” set to No, the export module still exports the value with decimals.

[2015-03-16 09:21] skeleton commented on #2333
Hi,

Thanks for your bug report. We aware of this bug and currently working on it.

[2015-03-16 10:59] skeleton commented on #2333
Finally, it's not a bug.
"allow decimals" option is only for validation, not to define format in export.

[2015-03-16 12:01] panploenes commented on #2333
Thank you.
Makes sense.
I

[2015-03-16 12:01] #2333 closed

[2015-03-25 14:16] BatsaxIV opened #2397 "CSV Import - deleting medias"
Hi guys,

How can I delete medias (pictures in my case) from a product with a standard csv product import?

I tried with an empty/null/'' column, doesn't remove the file.

We had a bad media import, to reimport everything and clear the wrong pictures I had to modify the **CatalogBundle/Manager/MediaManager.php** in **handle()** function and add **$this->delete($media);** at the beginning (which is

[2015-03-31 09:19] s0ps opened #2433 "Product list select box filter problem"
If you choose filter parameters from select box and press enter, then all the page becomes not clickable.
This does not happen when I click Update button instead of pressing enter.

[2015-04-03 21:37] shandyDev commented on #2270
Now with latest version I can not reproduce this. Thanks.

[2015-04-03 21:37] #2270 closed

[2015-04-08 14:18] masev opened #2477 "Mass edit - image attribute"
When doing a mass edit on an image attribute, after confirmation we are redirected to the product list but there is no modification made on the products (no image added).

If there was an image on the product it removes it.

The post parameters are :
pim_enrich_mass_edit_action: {"operation":{"locale":"90","values":{"visuel_1":{"id":"","media":{"id":"","copyFrom":""}}}},"_token":"63630f9f870417953

[2015-04-09 08:04] grena commented on #2433
Hi @s0ps , thank you for the report :)
On **which version** of the PIM do you have this issue, and on **which page** ?
Thanks !

Regards,

[2015-04-09 08:15] s0ps commented on #2433
Hi @grena!
Version: 1.3.5 and on product list page.

[2015-04-09 09:19] grena commented on #2433
Thank you !
The bug has been reported internally, we'll do our best to fix it ! :)

[2015-04-14 00:41] chicodasilva opened #2502 "Support to documentation"
Hi,

I've been trying to test some feature of "pim-community-dev" but the documentation is not always complete.

What is the best channel to have some questions/documentation problems replied?

Regards,
Francisco

[2015-04-14 12:36] squaresurf opened #2511 "Completeness isn't recalculated when a family is updated."
We found a bug with regards to a family's completeness. After changing a family's required attributes all products within that family no longer have any completeness calculated. It is expected that all products have their completeness recalculated when that criteria changes for a family.

This is reproducible on the demo site. Here are the steps to reproduce it:

1. Add a required attribute to a f

[2015-04-14 16:19] fitn commented on #2511
Hi @squaresurf

This is a "normal" behavior today. Completeness calculation should be done with a CRON so we just remove the already calculated value (if existing) to flag products when we change a family or mass edit products.

Regards,

[2015-04-14 16:50] squaresurf commented on #2511
Hi @fitn,

Thank you for your response. Will this always be the norm or are there plans on removing the dependency on a CRON job?

[2015-04-15 09:00] alafon opened #2517 "findOneBy... methods should not return false, but null if product is not found"
See : src/Pim/Bundle/CatalogBundle/Doctrine/ORM/ProductRepository.php

[code]

My suggestion is that it should be implemented like this :

[code]

BTW, the interface implemented by the repository seems to be correct.
If you agree that this is an issue I can provide the PR

[2015-04-15 23:14] chicodasilva opened #2520 "error with "icecat_demo_dev" installation profile v1.3.8"
After updated pim-community-dev to v1.3.8 I get this error when I try to install "installer_data: PimInstallerBundle:icecat_demo_dev" (with minimal everyhing works fine)

Output from: php app/console pim:installer:db -vvv
----------------------------------------------------------------------------------------------------
[code]

[2015-04-28 09:37] aRn0D commented on #2477
Sir @jjanvier, Can you have a look plz?

[2015-04-28 11:19] chicodasilva commented on #1839
Hi there,

I am trying to acomplish the same goal. Is this a problem with bootstrap?

Regards,
Francisco

[2015-04-30 08:04] grena commented on #2502
Hello @chicodasilva, sorry for the late response and thank you for your interest!
GitHub is used by the team for bug reports and pull requests.

For any technical questions (technical or not), we'll try to do our best to answer you on http://www.akeneo.com/forums/.
For documentation, http://docs.akeneo.com/ (we try to improve it :wink: )

Kind regards

[2015-04-30 08:05] #2502 closed

[2015-04-30 15:14] cjanody opened #2589 "[BUG] Custom view : columns sorting"
Hi,

When a user edits one of his views, columns sorting has been lost. If this is not the expected behavior, we have fixed it on our 1.3 installation and could submit a pull request soon if you wish.

Thanks for reading.

[2015-05-04 15:51] jmleroux commented on #2589
Hi @cjanody ,

Keeping columns sort order could be interesting.
Feel free to submit a PR and we will review it.

Regards

[2015-05-04 16:00] jmleroux commented on #2517
Hi @alafon ,

You're totally right and a PR is of course welcome.

Regards,

[2015-05-05 16:18] cjanody commented on #2589
Hi @jmleroux ,

We will do it as soon as possible.

Sincerely

[2015-05-11 14:08] vbnet3d opened #2638 "Cannot import category names with "-""
We are integrating an existing Magento solution, and by default Magento creates category names with dashes in place of spaces. However, the category import in Akeneo disallows the dash character. I thought about modifying the filter, but was not certain that this would be a safe change. We will be moving to PIMGento, but I believe the category names still must match?

PIM version 1.3.5

[2015-05-12 07:55] s0ps opened #2644 "Mass edit - Updated At"
Updated at value is not updated on mass edit

[2015-05-12 13:16] grena commented on #2644
Hello @s0ps, thank you for your report.
On which version of the PIM do you have this issue?

[2015-05-13 13:03] s0ps commented on #2644
Version: 1.3.5

[2015-05-13 16:59] panploenes commented on #1878
Is there any answer on this? Just try to load fixtures from csv files but they wont get used.

[2015-05-15 15:35] harijoe opened #2666 "app/console akeneo:batch:list-jobs return no result"
Hi,

I cloned the repo and installed it. The UI works nicely. I then ran `app/console akeneo:batch:list-jobs` but even if the process took a few seconds, it returned no result, whereas I can see the different jobs in `Spread -> export Profiles -> create`.

Any idea ?
Thanks.

[2015-05-15 16:01] #2666 closed

[2015-05-15 22:44] yukoff opened #2667 "php5.6: Fatal error: Call to undefined function mime_content_type()"
The function mime_content_type() is deprecated and on php 5.6 results in a fatal error:
[code]

[2015-05-21 16:02] Nuscly commented on #2638
Hello,

I think you can create a filter in the import that convert the category name from the magento format to the pim format to solve your problem.
You need to customize the batch bundle job to add your step filter.

Regards,

[2015-05-21 16:11] vbnet3d commented on #2638
Would this filter remain after updates to the application?

[2015-05-21 16:18] Nuscly commented on #2520
Hello, if you update an existing akeneo installation (1.3.x -> 1.3.y), you don't need to do a `pim:install`, you only need to update the code (using composer or github), and use `app/console doctrine:migrations:migrate` to update the database schema.

If you want to re-install all to the new version and loosing all your data, use `pim:install --force`.
Regards,

[2015-06-11 13:40] panploenes commented on #1218
Im stuck there too.

[2015-06-23 10:02] Philippe-M opened #2882 "Traduc in product edit page"
When i'm editing the product lots of text are not translated in french or english.

![akeneo](https://cloud.githubusercontent.com/assets/4558101/8303658/aff76396-199f-11e5-9a99-4d9abb126712.png)

[2015-06-23 12:21] sumbobyboys commented on #2882
Hello @Philippe-M,

Your are using a development version of the PIM (master branch) which is still in active development. This version is currently only translated in english and will be translated at least in french before the release.

To use a fully translated PIM, you can use our last stable version of the PIM: https://github.com/akeneo/pim-community-dev/releases

By the way, you are greatly e

[2015-06-23 12:59] Philippe-M commented on #2882
Ok thanks

[2015-06-23 14:42] Philippe-M opened #2885 "PHP Fatal error in DefaultRepositoryFactory.php in 1.3.16"
Hello,

After fresh install the 1.3.16, when i go to login page i've this error in apache log :

I'm testing with 1.3.15 version and the error is :

I'm using debian 7.8, apache 2.2.22, php 5.4.41-0+deb7u1

[2015-06-29 09:20] grena commented on #2885
Hello @Philippe-M , thank you for the feedback and sorry for the delay.
Can you test these commands and tell me if it fixes your problem please?

[code]

Kind regards,

[2015-06-29 09:25] grena commented on #2667
Hello @yukoff , thanks a lot for contributing!
@jjanvier from the core team left a comment on your PR, if fixed, we'll be glad to merge your stuff.

Regards,
grena.

[2015-06-29 14:49] Philippe-M commented on #2885
Hello @grena , it's ok with 3.15 and 3.16.

Thanks.

[2015-06-29 14:49] #2885 closed

[2015-06-30 23:37] vpetrovych opened #2912 "Error in TranslateFlashMessagesSubscriber when Session is not started"
I'm using Nelmio Cors package to support cross reference calls, but because it's an OPTIONS call you don't have a session started. So you get the following error:

The issue is this line:
[code]

This can be easily fixed by adding a check:
[code]

[2015-07-01 08:39] #2882 closed

[2015-07-01 08:44] phaseinducer commented on #2912
Hi @vpetrovych,

Thanks for your feedback, feel free to send a PR. ; )

Regards

[2015-07-01 08:59] phaseinducer commented on #2644
Hi @s0ps, I can't reproduce the behaviour on the latest stable version (which is currently 1.3.16), maybe you could upgrade and try again ?

Regards

[2015-07-06 15:14] srascar opened #2938 "NormalizeConfigurationExtension issue"
Hello,

I've just created a custom reader for an export job.
It appears that defining an option with a multiple select will raise an exception in
\Pim\Bundle\ImportExportBundle\Twig\NormalizeConfigurationExtension.php
cause normalizeValueFilter method does not handle array.

Is that on purpose, or could you add an other line like

    if (is_array($value)) {
        return implode(', ', $value);

[2015-07-07 08:42] skeleton commented on #2938
Hi srascar,

Thanks a lot for your contributing. Can you send a pull request to purpose your fix ?
We will launch our CI to check if this fix does not break something.

[2015-07-07 10:11] srascar commented on #2938
hi @skeleton ,
Thank you for your quick answer.
Please see my PR

[2015-07-10 08:28] #2912 closed

[2015-07-10 08:28] #2667 closed

[2015-07-10 08:28] #2644 closed

[2015-07-10 08:29] #2589 closed

[2015-07-10 08:30] #2520 closed

[2015-07-10 08:34] sumbobyboys commented on #2511
Hi @squaresurf,

In fact, this is just a symfony2 command so you can use anything you want as long as it can launch the command :)

Regards,

Julien

[2015-07-13 12:31] squaresurf commented on #2511
The point to my questions was that it is truly unfortunate that it requires a command to regenerate completeness. I would expect that this should be done automatically whenever product's completeness has been cleared (i.e. a family is updated).

[2015-07-22 14:32] adamicg opened #3002 "Problem with uploading images - Curl 77"
All of a sudden we started getting errors when we are trying to upload images to products.

 http://note.io/1DtUoj7

Don't really know what's happening.. Anyone that could help?

logs:

[2015-07-22 15:28:34] request.CRITICAL: Uncaught PHP Exception Aws\Common\Exception\TransferException: "[curl] 77:  [url] https://s3-eu-west-1.amazonaws.com/s3-original.zoozoo.com/product/5490174fc79a6420596689.jpg

[2015-07-27 21:16] cwakim opened #3014 "Problem with image upload on Variant Group"
If I add an attribute of type Image on a Variant Group and reload the page the inage link becomes broken.

When we try to resave the product we get the below error on a development installation:
File not found [temp_file_name]

Or on a production instalation:
Page not loaded correctly.
Also we have noticed that in the catalog_product_template table the image link is that of the temporary file uplo

[2015-07-27 21:23] BitOne commented on #3014
Thanks @cwakim , I got a broken image, and when I want to add a product after having put an image, I got the "Page was not loaded correctly" error. So I confirm the bug on our demo environment.

It seems this bug only occurs when the variant group has no product attached.

So as a temporary workaround, just after creating a variant group, please first attach a product *then* add the image attribut

[2015-07-28 08:53] cwakim commented on #3014
Hello @BitOne I can't seem to make it work on our end but the workaround seems to work on the demo. Is the demo using Mongo as db ?

[2015-07-28 09:54] cwakim commented on #3014
@BitOne I just tried a MySQL installation and the workaround works fine, but still on the Mongo installation it does not work.

[2015-07-30 09:53] Hocdoc opened #3028 "Get full product with only some attributes"
I'm a Symfony/Doctrine/Akeneo beginner ;-) and try to get the full data of a product with only some attributes.

I've seen that `Pim\Bundle\DataGridBundle\Controller\ProductExportController` use for the export this line to get all attributes:

        $results = $this->productRepository->getFullProducts($productsList, $attributeIds);

I've tried the same only with some attribute ids as second para

[2015-08-10 06:37] dimitri-koenig opened #3071 "Switch from serialize() in DB fields to json_encode()"
Hi Guys

How much effort would be needed to change the usage of serialize() in DB fields, e.g. changeset/snapshot fields in versioning table, to json_encode?

Why? E.g. if you want to alter attribute code, which is not directly possible, only via raw queries, you can do it perfectly in the attributes table, but then versioning will be broken. And a simple mysql REPLACE() operation is not possible

[2015-08-12 08:02] ClementGautier commented on #3071
Hello Dimitri,

It looks like we use serialize on few spaces so it wouldn't take long.
I found references to serialize in:

[code]

The tricky part is the data migration.

Feel free to make a pull request about this (with the data migration script) and we will be happy to merge it.

Regards

[2015-08-12 10:08] ClementGautier commented on #3028
Hello,

It looks like you are right. Thank you for pointing that out !

I'll fix that on the 1.3 branch but we'll probably mark this function as deprecated in the master branch as it is not used in the PIM itself anymore.

[2015-08-13 12:03] ClementGautier commented on #3028
Fixed in 1.3, will be merged in master soon.
We will bump the 1.3.19 today btw.

[2015-08-13 12:03] #3028 closed

[2015-08-13 15:39] tschroeter opened #3109 "delete all attributes or families"
hey, i am installed a fresh akeneo installation and try do delete all demo attributes and families but unable do select all and click on any delete button !?

[2015-08-14 08:45] tadcka opened #3114 "Family mass edit problems with the filtered records by label (akeneo 1.3.*)."
http://demo.akeneo.com/#url=/enrich/mass-edit-action/choose?gridName=family-grid&actionName=mass_edit&inset=1&values=3%2C4%2C7&family-grid%5B_sort_by%5D%5Bcode%5D=ASC&filters%5Blabel%5D%5Bvalue%5D=m&filters%5Blabel%5D%5Btype%5D=1&dataLocale=%2Fdatagrid%2Ffamily-grid%3Ffamily-grid%5BlocaleCode%5D%3Den_US

I see don't set locale code.

From profilter:
[code]
Parameters: [null, '%m%']

[2015-08-18 13:08] willy-ahva commented on #3109
Hi @tschroeter, to avoid to remove all data by hand you can install akeneo with the minimal dataset moving this param https://github.com/akeneo/pim-community-dev/blob/master/app/config/pim_parameters.yml#L24

Regards,
Willy

[2015-08-25 12:25] kekin-chheda opened #3188 "akeneo with anyother database"
Hi, first of all i would like to tell akeneo is awesome application developed, as i am really looking forward to use akeneo, my main question is can i use akeneo completely with nosql databases such as orientDB is there any configuration changes required? plz suggest if not orientDB please suggest any solution for mongoDB.

[2015-08-29 11:02] nidup commented on #3188
Hi kekin-chheda ,

Thank you!

Natively Akeneo can use 2 methods to store data:
 - simple storage, means all data in Mysql (through DoctrineORM, should work with other RDBMS but not tested)
 - polyglot storage, means product data in MongoDB and other data in Mysql (through DoctrineMongoDBODM and DoctrineORM)

There is a tech doc which describes how to install different storage http://docs.akeneo.c

[2015-08-29 11:07] nidup commented on #3114
Hello tadcka,

Thank you for the feedback!

I think that issue has been fixed here https://github.com/akeneo/pim-community-dev/blob/1.3/CHANGELOG-1.3.md#1317-2015-07-07

The demo was not up to date when you reproduced it, we re-deployed it few days ago.

[2015-08-29 11:07] #3109 closed

[2015-09-01 13:27] tadcka commented on #3114
This issue not fixed in PIM-1.3.7. I use PIM-1.3.8 and has this bug.

[2015-09-03 13:14] squaresurf opened #3261 "Akeneo should follow Semantic Versioning."
It would be so tremendously helpful if this project did not introduce any backwards compatibility breaks within a minor or patch version. It is so extremely frustrating to see that the project "follows" the [semantic versioning](http://semver.org/) format to find out that it doesn't actually conform to [SemVer](http://semver.org/). The frustration specifically stems from the experience you get any

[2015-09-03 16:58] linslin opened #3265 "Product import variant group key?"
Hey Guys, whats the key to import products into a variant group? I tried a lot but did not found any information in the documentation. Hint: Variants already exists in Akeneo, I just want to link my product into via product import.

#### Example without variant group:

sku;family;categories;
1;test;test
2;test;test

THX

[2015-09-04 10:21] alafon commented on #2517
I think that this one can be closed since it has been patched in the new version.
I was too slow to provide the PR... :D

[2015-09-04 10:21] #2517 closed

[2015-09-04 10:35] nidup commented on #3261
Thank you for your kind and clear message, it's a good opportunity for us to communicate on this topic.

First, we easily understand your concern and we would love to respect the SemVer!

We release minor version every 6 months which should be from SemVer point of view, a major version.

You're totally right on this point.

But releasing a major version every 6 months is really difficult from busi

[2015-09-05 00:31] squaresurf commented on #3261
Thank you for explaining your current process. However my biggest frustration has been the BC Breaks between patch versions. As you can see in [CHANGELOG-1.3.md](https://github.com/akeneo/pim-community-dev/blob/master/CHANGELOG-1.3.md) there were BC Breaks between 1.3.5 and 1.3.6. It would be a tremendous help if you would not introduce BC Breaks in patch versions so that we can all benefit from b

[2015-09-05 10:00] nidup commented on #3265
Hi linslin!

The key is 'groups', a good approach is to complete some products and export the csv file to see the format (this format can be used to import products too).

sku;family;categories;groups;
1;test;test;my_variant_group_code
2;test;test;

[2015-09-05 10:10] nidup commented on #3261
We do our best to not introduce BC Break in patches but it already happened in the past.

Don't hesitate to ping us if you encounter any issue with a BC break when applying a patch, this feedback is very valuable to push us to enhance our practices and the perceived quality.

Thank you.

[2015-09-05 10:15] nidup commented on #3114
Sorry, i maybe misunderstood the issue, may you test with the very last patch deployed on our demo http://demo.akeneo.com?

If you don't reproduce the bug on this environment, I advise you to update your installation with the last patch v1.3.24 (we do our best to never do BC Break in patches and you should be able to apply it easily).

[2015-09-05 10:19] nidup commented on #3002
Which version of the PIM are you using?
Do you still have this issue?
Do you store your files on another server than the PIM itself?

[2015-09-05 21:06] squaresurf commented on #3261
Thank you for all your hard work on Akeneo.

[2015-09-06 12:34] linslin commented on #3265
Thanks, works like a charm. :+1:

[2015-09-06 12:34] #3265 closed

[2015-09-07 07:47] tadcka commented on #3114
Fixed, thanks :+1:

[2015-09-07 07:47] #3114 closed

[2015-09-10 09:29] dimitri-koenig opened #3279 "Add "hide" feature for attributes"
You should be able to hide an attribute. Currently the only way of disabling an attribute is to delete it. Temporarily hiding (or even disabling) is not possible.

[2015-09-14 20:00] gplanchat opened #3287 "Installer fails on 1.4 RC1"
I just launched a `app/console pim:install` and went through an error :

Error message : `The function "oro_windows_restore" does not exist in "::base.html.twig" at line 32 `

Errored file is located in **app/Resources/views/base.html.twig**, seems to be a TwigExtension missing or failing to be loaded

[2015-09-15 09:28] gplanchat opened #3288 "PDF product export failure on 1.4 RC1"
I tried to export a product PDF on 1.4 and it showed this error message.

It seems to be a Doctrine proxy issue, but the command `orm:generate-proxies` isn't available. I cleared the cache multiple times, tried to reinstall from scratch, same issue.

![image](https://cloud.githubusercontent.com/assets/152367/9872883/70358d66-5b9c-11e5-8a4b-b970de78c23a.png)

[code]

[2015-09-15 09:45] gplanchat commented on #3071
Wouldn't a serlializer as a DI service be more appropriate?

as long as each installation has its own constraints, choosing your serialization format would be a great enhancement

[2015-09-16 07:25] Hocdoc commented on #3288
+1
I get the same issue.

[2015-09-16 07:36] nidup commented on #3288
Thank you for the bug report!
I easily reproduced it, we'll fix it this week.

[2015-09-16 09:53] nidup commented on #3279
FYI, in Enterprise Edition, you can use advanced permissions to hide/readonly/edit each attribute.

[2015-09-16 09:55] nidup commented on #3287
i don't reproduced this issue, it was after a re-install? with a clean cache?

[2015-09-16 09:57] dimitri-koenig commented on #3279
Good to know, thx.

[2015-09-16 09:57] #3279 closed

[2015-09-16 13:11] gplanchat commented on #3287
It was after a hard cleaned cache (`rm -rf app/cache/*`), on an empty DB, with the application's sources freshly merged from master (commit from akeneo/pim-community-standard@65905f4f8ca7024b26797965db0e0db9c43fa6a2) and updated composer dependencies.

It is not an empty project, I have 2 bundles in the src directory : a custom connector and a custom fixtures installer

I am running php 5.6.9 as c

[2015-09-17 07:50] jmleroux commented on #3288
fixed

[2015-09-17 07:50] #3288 closed

[2015-09-18 11:59] nidup commented on #2153
has been fixed in 1.4 (stable version will be release soon)

[2015-09-18 11:59] #2153 closed

[2015-09-24 08:31] linslin opened #3326 "Job names on different connectors are unique"
While configure a job in "batch_jobs.yml", a error comes up. Job names are unique. In that way you can override other jobs by default, example:

[code]

So, while creating a new export or Import job by choosing Connector2 - my_sweet_export it will create a job based on Connector1 - my_sweet_export.

[2015-09-24 11:56] Olly667 opened #3331 "Bug: Mix of v.1.3.26 and v.1.4"
Hello everyone,

after updating our Akeneo from 1.3.0 to 1.3.26, the following PHP error occurs:

PHP Fatal error:  Class 'Pim\Bundle\CatalogBundle\Doctrine\ORM\Repository\ProductTemplateRepository' not found in /var/www/akeneo/vendor/doctrine/orm/lib/Doctrine/ORM/Repository/DefaultRepositoryFactory.php on line 75

The tagged 1.3.26 version of ProductTemplate.orm.yml (https://github.com/akeneo/pim

[2015-09-24 12:27] Olly667 commented on #3331
D'oh !

Editing ProductTemplate.orm.yml and pointing to the correct repository fixes this as well....... as long as you don't forget to clear the metadata cache (like me).

[2015-09-25 10:57] darryla opened #3337 "Email address with an '+' marked as invalid"
Email addresses with an '+' are marked as invalid in the interface but this conforms to the standard. For us we widely use this to good effect with Gmail inbox filters, as per the post here: http://gmailblog.blogspot.co.uk/2008/03/2-hidden-ways-to-get-more-from-your.html

[2015-09-26 17:42] gplanchat opened #3343 "PHP 7 compatibility"
There are some classes using new reserved names in the PIM source code which will not be compatible with PHP 7.0 :

```Fatal error: Cannot use Pim\Bundle\CatalogBundle\Validator\Constraints\String as String because 'String' is a special class name in /Users/gplanchat/Luni/projects/pim-akeneo/vendor/akeneo/pim-community-dev/src/Pim/Bundle/CatalogBundle/Validator/ConstraintGuesser/StringGuesser.php

[2015-09-29 07:06] Hocdoc opened #3348 "Cannot import number attributes with decimals"
I cannot find a way to import attributes of the type `pim_catalog_number` with decimals in Akeneo 1.4.1.

When I try to add a new column with the title `decimalsAllowed` (as in the old `attributes.yml`) in `attributes.csv`, I get this error during the installation:

    STEP pim_connector.jobs.csv_attribute_import.import.title WARNING on item { type:pim_catalog_number, code: IDENT, label-de_DE: ‘I

[2015-09-29 11:40] jjanvier commented on #3343
Hello Gregory @gplanchat,

Thanks for raising the issue ;)

We are not yet compatible with PHP7 but we are not so far actually. Maybe you tried the same tool that us to detect those incompatibilities https://github.com/sstalle/php7cc ?

[code]

We were planning to fix those issues in the coming 1.5 version. Feel free to open a PR to rename the constratints and the validators to `IsString` and `IsN

[2015-09-29 14:08] noglitchyo commented on #2068
Hello, same issue here with 1.3.22!

If I change the language using the UI, it is not working. However, when I change the language into the parameters.yml, it works fine.

[2015-09-29 14:35] nidup commented on #2068
Hello noglitchyo,

Thank you for the feedback!

It's a well known issue (it will be fixed in 1.4.2), can you check if you have an 'installed' param in your parameters.yml ?

FYI, the following listener forbids to change the locale from the UI when this param is not defined  https://github.com/akeneo/platform/blob/pim-1.3/src/Oro/Bundle/LocaleBundle/EventListener/LocaleListener.php#L43

[2015-09-29 14:50] noglitchyo commented on #2068
Thanks for your quick answer @nidup
I check if the **installed** param was in my **parameters.yml**. It wasn't.
With the **installed: true** in **parameters.yml**, it works like a charm.

Thank you.

[2015-09-30 15:56] #1318 closed

[2015-09-30 15:57] #1427 closed

[2015-09-30 15:58] #1502 closed

[2015-10-01 13:30] solivier commented on #3348
Hi Hocdoc,

In fact yes it is possible, instead of using the column name “decimalsAllowed” you have to use “decimals_allowed” in the attributes.csv file in order to be able to import products with decimal values.
The old system was very permissive and it allowed the two values, in order to keep a consistent file format we now use only not “camel case” for column name.

Hope it helped
Do not hesita

[2015-10-02 08:54] Hocdoc commented on #3348
Thanks, that worked :-).

[2015-10-02 08:54] #3348 closed

[2015-10-02 09:22] FrankStappers opened #3371 "Allow full numeric entities codes"
Since the commit of "PIM-4443", full numeric entities code are forbidden. According to the author, the patch "solves" an error when exporting attribute codes, by preventing them from being used.

For a client we are performing a data migration. To model the data correctly in Akeneo, we require variant group codes with full numeric values (> 0).  Due to restriction posed by "PIM-4443", we cannot do

[2015-10-02 13:57] nidup commented on #3371
Hi FrankStappers,
Thank you for the feedback, it has been raised by different customers / users.
The Core Team is studying an alternative patch.
BR,

[2015-10-05 08:16] jmleroux commented on #3337
Hi @darryla ,
Thank you for the feedback, this feature will be discussed with the core team ASAP.

Regards

[2015-10-05 08:17] #1254 closed

[2015-10-05 08:18] #1535 closed

[2015-10-06 09:22] hungpq12 opened #3378 "Rule Engine error"
i used akeneo1.4 that defined :
1 - vendor/akeneo/pim-community-dev/src/Pim/Bundle/CatalogBundle/Resources/config/repositories.yml
* pim_catalog.repository.category.class:         Akeneo\Bundle\ClassificationBundle\Doctrine\ORM\Repository\CategoryRepository
* pim_catalog.repository.category:
        class: %pim_catalog.repository.category.class%
        factory_service: doctrine.orm.entity_manager

[2015-10-06 10:14] hungpq12 opened #3379 "Rule Engine on Pim enterprise 1.4 has an error."
rules:
    assign_dwtree_calculate:
        conditions:
            - field:    categories.code
              operator: NOT IN CHILDREN
              value:
                - dw
        actions:
            - type:      set_value
              field:     dw_flag
              value:     '0'
i used above yaml's config to import rule engine but has an error
An error occured during the import executi

[2015-10-06 13:44] nidup commented on #3379
Hello Hung,

As you're using the Enterprise Edition you should have access to our HelpDesk that allow us to provide Enterprise Edition support, thank you to use your account to create a ticket.

Thank you,

[2015-10-06 13:44] nidup commented on #3378
Hello Hung,

As you're using the Enterprise Edition you should have access to our HelpDesk that allow us to provide Enterprise Edition support, thank you to use your account to create a ticket.

Thank you,

[2015-10-06 13:48] #3379 closed

[2015-10-06 13:48] #3378 closed

[2015-10-06 13:52] damien-synolia opened #3383 "Underscore.js bug on product view"
In some systems, underscore.js throw an "Uncaught SyntaxError: Unexpected identifier" in product view.

![sans titre - message html](https://cloud.githubusercontent.com/assets/8102459/10310394/108ce8e4-6c42-11e5-919d-ebd0392d8a79.jpg)

It's very easy to reproduce :
- Install akeneo 1.4.2
- Install icecat sample data
- Try to go on a product view from list

We tried to debug this and we got it :
-

[2015-10-06 13:55] damien-synolia commented on #3383
This file is hidden in github editor but if you use git command or the zip file from github, you will get this special character.

[2015-10-07 15:34] #3383 closed

[2015-10-07 15:35] jmleroux commented on #3287
hi @gplanchat ,

is this issue still relevant ?

[2015-10-07 15:37] #1314 closed

[2015-10-07 15:37] #1539 closed

[2015-10-07 15:39] gplanchat commented on #3287
I'll test it again with the latest 1.4 release this evening.

[2015-10-07 15:40] jmleroux commented on #1839
Closed as there is a similar resolevd topic on the forum : http://www.akeneo.com/forums/topic/custom-ui/

[2015-10-07 15:40] #1839 closed

[2015-10-07 15:41] #1878 closed

[2015-10-07 15:43] #3188 closed

[2015-10-07 15:45] #2006 closed

[2015-10-07 15:45] #2232 closed

[2015-10-07 15:47] #2187 closed

[2015-10-07 15:47] #2068 closed

[2015-10-07 15:49] jmleroux commented on #3014
Ticket created in JIRA : PIM-4976

[2015-10-07 15:49] #3014 closed

[2015-10-07 15:50] #2638 closed

[2015-10-07 15:53] #2433 closed

[2015-10-07 15:56] jmleroux commented on #2262
#2475
#2523

[2015-10-07 15:56] #2262 closed

[2015-10-07 15:57] #2938 closed

[2015-10-07 15:58] jmleroux commented on #3002
No response.

[2015-10-07 15:58] #3002 closed

[2015-10-07 16:00] #3331 closed

[2015-10-07 16:02] jmleroux commented on #3371
Ticket PIM-4977

[2015-10-12 08:23] phaseinducer commented on #3371
Hi Frank,

We reverted that behavior in the last patch (1.4.3), it should solve your problem. ; )

Regards,
Yohan

[2015-10-12 09:01] phaseinducer commented on #3326
Hi linslin,

This bug has been reported internally, thanks for your feedback !
In the meantime I suggest that you give different names to your jobs if you don't want this overriding behavior.

Kind regards,
Yohan

[2015-10-12 15:04] Hocdoc opened #3406 "No filters in product grid for attribute groups that contain an underscore"
When the key of an attribute group contains an underscore character `_`, the filters panel ("Manage filters ...") in the product grid will not get displayed.

Example attribute group:

    attribute_groups:
        my_group1:
            sort_order: 1
            labels:
                en_US: "My group"

Example attributes.csv:

    "type";"code";"label-de_DE";"label-en_US";"group";"unique";"usea

[2015-10-12 19:37] sagikazarmark opened #3409 "User group fixtures: all does not necessarily exist"
When loading data into the database using fixtures, groups are added to users. Groups are identified by name (since Oro user groups does not have such option as code) with one exception: all.

https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/InstallerBundle/DataFixtures/ORM/LoadUserData.php#L100

This hard coding requires to have a group called all (the name property must be

[2015-10-13 06:10] FrankStappers commented on #3371
Hi Yohan,

Thank you for the revert! Will check it out today!

Kr,
FS

[2015-10-13 22:33] sagikazarmark commented on #3261
I mainly agree with @squaresurf, but I also understand marketing reasons as well. I think that in cases like this it is enough to say "do your best not to break BC, but do it if it is absolutely necessary". Keeping this in mind very strictly make developers think more about a specific problem which takes more time, but ensures that the API is not randomly broken and there is no viable solution for

[2015-10-13 22:47] squaresurf commented on #3261
I think the biggest thing is that the `#.#.#` version format indicates SemVer. It would help tremendously if they didn't use that at all since they don't follow SemVer. That being said, I'm not sure they could use another format and make the project available via Composer.

[2015-10-14 05:48] sagikazarmark commented on #3261
To be completely fair: it might hint at SemVer as it is the most popular versioning strategy (It's not a coincidence!), but it is not the only one and this version pattern is quite common (at least the #.# form is). However I think SemVer is rather about communication than the actual numbering: "We are using semver, so you can expect preserved BC in minor and patch releases...".

[2015-10-14 21:46] sagikazarmark opened #3419 "Package separation"
As I can see, currently everything is in one repository. Will this be changed in the future? Separate packages, etc?

Two things that brought this question up:

- Developing web service: I am going to serve content directly from PIM using webservice and full page caching (at least that's the plan for now instead of using exports)
- Not using webservice: Currently I need it. But what if someone doe

[2015-10-15 07:49] nidup commented on #3419
Good question!
As you can see most of our pull requests concern several components / bundles, so work in a single repository is really easier.
For now, we don't expose these components and bundles in dedicated repositories but if we would to do so, we would use the same strategy than symfony/symfony, ie do sub tree split in readonly repositories.
You can try to disable several bundles in your AppK

[2015-10-15 07:55] nidup commented on #3409
Thank you for the feedback!
We would like to introduce code in the group entity to be consistent with all other entities (unique code, readonly once created).
You're right, it should be defined as a requirement in the doc http://docs.akeneo.com/latest/cookbook/setup_data/customize_installer.html (as the fact to have at least a root category and an identifier attribute)
Feel free to do a Pull Reque

[2015-10-15 09:12] sagikazarmark commented on #3419
Thanks for your response. Actually during early phases, this might not be the most important thing.

Another question: is there any fix/work in progress for installation? Currently it requires about 1.5G RAM to run an update with composer. (Removing VCS repositories from the application and using composer would probably be a bit more lightweight?)

[2015-10-15 09:30] gplanchat commented on #3287
The error does not seem to appear again

Grégory

[2015-10-15 09:30] sagikazarmark opened #3421 "Web service usage"
Looking at the WebService: it is quite simple for now. Do you plan to improve it? Add catregory listing for example? (Do you accept PRs? If so: it would be good to have a roadmap or planned services)

Also a question: Do you think it is a good idea to use WebService from Akeneo instead of exporting data from it and importing in an ecommerce site? My plan is to add Varnish in front of it so product

[2015-10-15 10:11] nidup commented on #3419
I imagine that you encounter this issue with the Enterprise Edition which retrieves community edition sources from vcs.
It's a known issue without fix in progress, in the future, we would put the community bundles on packagist (only the bundles, not the full stack, to do so we need to update and write some scripts), i don't have any ETA for this change.

[2015-10-15 10:24] nidup commented on #3421
We plan to improve the web API (to add read and write methods) but we don't have ETA for now.
We welcome any Pull Requests on bug fixes and are available to discuss on feature requests.
If you want extend the web API, you can do it in a custom bundle (that you can release in a dedicated repository on github, i'm pretty sure that a lot of other developers can be interested by this improved API :) )

[2015-10-15 11:48] sagikazarmark commented on #3421
Actually I agree with you that exposing PIM to the outside world is not a good idea. Probably this solution is bit slower as well than using a database. However in some cases it is simply easier. To lower the risk, some limitations could be set. Apart from that, what other issues might appear?

[2015-10-15 12:27] Hocdoc opened #3424 "Attribute group sort_order is ignored in the product form"
In Akeneo 1.4 the attribute group sort order (defined in the field `sort_order` in `attribute_groups.yml`) is ignored when displaying the groups in the product form on the left sidebar.

Instead, the attribute groups are displayed in the definition order. This is also fine, but when the field is ignored please remove the confusing `sort_order` field from the example installation data (minimal+icec

[2015-10-16 08:20] nidup commented on #3261
Thank you for your feedback.

Once again, we forbid all BC Breaks in patches, it can occur exceptionally and, if we have to do, we discuss with the team, it's a choice, not a mistake.

About the definition of Backward Compatibility itself, we really like the approach of Symfony and we would go to this direction for Akeneo PIM http://symfony.com/doc/current/contributing/code/bc.html (ie defining ap

[2015-10-16 08:31] nidup commented on #2397
If it's to clean up wrong media data, i would write a symfony command, imho, the easier way to have access to all the service and quickly write a script.

[2015-10-16 12:16] sagikazarmark commented on #3261
Are there any references to this in the documentation?

[2015-10-16 20:45] sagikazarmark opened #3428 "Non-ascii characters are not displayed in generated PDF"
Letters like őűúó are replaced with a question mark (?).

[2015-10-19 08:41] Hocdoc opened #3429 "Slow product import with Version 1.4.4"
I have noticed that the product import in Akeneo 1.4.4 is about 3 times slower than with Akeneo 1.4.3. I didn't expect this from the CHANGELOG notes.

We use the default `app/console akeneo:batch:job csv_product_import` to import about 150 * 1000 products with 250 attributes. I've tested the import several times with Version 1.4.3 and 1.4.4.

[2015-10-20 06:34] Hocdoc opened #3435 "Attributes are not sorted in "Manage filters" select box"
Users could add filters with the "Manage filters" link in the product grid. The attributes in the select box are grouped by the attribute groups in the right order. Unfortunately inside of the attribute groups the attributes seem to be unsorted.
It would be easier for the user if they have the same order as in the product form.

[2015-10-20 07:57] sagikazarmark opened #3436 "Symfony 3 directory structure"
As of sensio distribution bundle 4.0, the new directory structure is supported (see it [here](https://github.com/symfony/symfony-standard/tree/master)). I think it would be good to move to that structure right now. It is possible and it will be the new structure anyway (which is much better IMO).

[2015-10-22 07:23] Hocdoc opened #3448 "Installation with parameter `--force` fails, if temporary `file_storage`directory doesn't exist"
A installation with `php app/console pim:install --env=prod --force` fails with Akeneo 1.4.4 if the directory `/tmp/pim/file_storage` doesn't exist (f.ex. after a reboot).

Error message:

    Error during PIM installation. Failed to remove directory "/tmp/pim/file_storage".

I have to restart the installation without the `--force` argument, which works.
Errors removing the `file_storage` director

[2015-10-22 07:30] Hocdoc commented on #3448
Oops. I was wrong, the fault wasn't the `--force` parameter.
There were some problems with the permissions on the `/tmp/pim` directory.
I will close this issue again until I know exactly why I got the error message during the installation.

[2015-10-22 07:30] #3448 closed

[2015-10-22 13:08] Hocdoc commented on #3428
Maybe this is related to https://github.com/dompdf/dompdf#about-fonts--character-encoding

I haven't tested it, but you may use the parameter `pim_pdf_generator_font` to set a different font (f.ex. DejaVu Sans )

[2015-10-22 17:44] sagikazarmark commented on #3428
Thanks for the hint, will try it out.

[2015-10-23 07:43] jmleroux commented on #3436
hello @sagikazarmark ,
this point is on our raodmap for future versions, but not right away because we don't want to break compatibility with existing Akeneo installations.

Thanks for the feedback,
JM

[2015-10-23 07:43] #3436 closed

[2015-10-23 07:44] jmleroux commented on #3435
Hi @Hocdoc ,
we will test your issue and integrate it on our tracker if we can reproduce.
Thanks for the feedback.

JM

[2015-10-23 07:52] jmleroux commented on #3429
3 times slower between 1.4.4 and 1.4.3 ?
Are you sure it's not between 1.3 and 1.4 ?

Thanks for the feedback,
JM

[2015-10-23 07:54] jmleroux commented on #3428
Thank you to both of you for the feedback.
We're looking forward to hear about this issue.

JM

[2015-10-23 08:14] #3371 closed

[2015-10-23 08:15] #3287 closed

[2015-10-23 08:18] jmleroux commented on #2477
@masev ,
do you still have the issue ?
on which version ?

Thx,
JM

[2015-10-23 08:20] jmleroux commented on #2000
@aRn0D ,
is this issue still relevant ?

[2015-10-23 09:09] masev commented on #2477
It's now ok on 1.3.x
I close the issue

[2015-10-23 09:09] #2477 closed

[2015-10-23 09:23] aRn0D commented on #2000
@jmleroux old issue, it can be closed!

[2015-10-23 09:23] #2000 closed

[2015-10-23 12:11] sagikazarmark commented on #3421
Further thinking about this: I think I don't get the whole idea behind this.

Am I supposed to duplicate the whole PIM database in my ecommerce site to fully make it working?

Also, this load data infile solution is a bit vague for me. It suggests that my database structure must follow the CSV files structure.

[2015-10-23 12:53] nidup commented on #3421
Sorry, I guess i misunderstood your point, if you've an existing ecommerce website, the idea is to use the export system of the PIM then import the data in your ecommerce website (there are existing connectors for Magento, Drupal, etc and you can create your own).

I though that you wouldn't import these data in your website and you would use the akeneo web api to directly build ecommerce pages fr

[2015-10-24 12:17] sagikazarmark commented on #2511
The biggest problem is that competeness is not invalidated after family update, so the calculate command does not regenerate completeness, as there is no missing completeness.

[2015-10-24 12:40] sagikazarmark commented on #2511
It seems that it is actually invalidated and recalculated. Maybe there were some problems, as I was mass editing lots of families. However, it is still a problem, that cases like this, there is no possibility to recalculate wrong completeness, only missing can be calculated.

[2015-10-25 10:18] paulclarkin opened #3461 "Broken site following commit 4d079d3d (PIM-4683: fix attribute requirements in updater)"
My Akeneo Community Dev is broken following a Pull. I've tracked it down to @solivier's commit 4d079d3d5b9acc23a82188ea09b893f5b30fa97c

The site loads with a 500 error, and this in the log.

`
[Sun Oct 25 10:08:54.786814 2015] [:error] [pid 21310] [client 127.0.0.1:59309] PHP Fatal error:  Uncaught exception 'Symfony\\Component\\Debug\\Exception\\ContextErrorException' with message 'Catchable Fat

[2015-10-25 20:39] sagikazarmark opened #3462 "Category tree cannot be modified"
Moving a category in the tree to a new parent does not work in 1.4.3

[2015-10-26 08:12] jmleroux commented on #3462
I can confirm this bug and i will open a ticket in our internal bug tracker.
Thank you.

[2015-10-26 08:16] sagikazarmark opened #3465 "Creating a new node in the category tree is complicated"
1. Right click on the parent element
2. Click Create
3. Enter the **category code** (not the label) in the node name (After that the tree becomes unresponsive, you can only modify the newly created element, after that the page refreshes itself)
4. Edit the label

Not sure if it is documented at all.

[2015-10-26 08:35] solivier commented on #3461
Hi @paulclarkin,

Sometime the apc cache is not cleared. Could you try to restart Apache and see if it solve the problem ?

[2015-10-26 09:08] paulclarkin commented on #3461
Looks like that might have sorted it, thanks.

Maybe add a note to the readme?

[2015-10-26 09:20] paulclarkin opened #3466 "php app/console cache:clear doesn't clear app/cache?"
Should `php app/console cache:clear` clear the content of the app/cache folder?

After making changes to the routing files (`src/Pim/Bundle/WebServiceBundle/Resources/config/routing.yml` and `src/Pim/Bundle/WebServiceBundle/Controller/Rest/ProductController.php`) and they did not work until I ran `rm -rf app/cache/*`.

Is this expected?

[2015-10-26 18:25] jmleroux commented on #3466
`php app/console cache:clear` will not clear all the cache : for example, without the env parameter, i will clear you `dev` cache. For prod, you must specify the environment : `php app/console cache:clear --env=prod`
Anyway, when i'm working on dev, i found it faster and easier to clear cache manually with `rm`

[2015-10-27 08:46] Hocdoc commented on #3429
Yes, it's between 1.4.4 and 1.4.3.
(We are using MySQL as database backend.)

V. 1.4.4 seems to be also more strict which values are accepted during the import (f.ex. the metric value `1.23abc` is imported in V. 1.4.3 without warning, but there is an error in V. 1.4.4), which is a good thing.

[2015-10-27 09:28] paulclarkin commented on #3466
Sorry copy and paste let me down there - I did do `env=dev` and it didn't make any difference. I'll use `rm` if that tends to be easier!

[2015-10-27 17:03] sagikazarmark commented on #3466
This is actually a symfony feature, not really belongs to akeneo.

First of all: simply invoking the cache clear commans runs in dev environment by default, so adding it in the command only make sense, if you have `SYMFONY_ENV` environment variable defined to be something else.

Secondly, the cache clear command does warmup as well. This is the intended behaviour, because otherwise during the firs

[2015-10-27 17:04] #3421 closed

[2015-10-27 17:08] sagikazarmark opened #3490 "Hungarian translation"
I would like to help translating Akeneo to Hungarian, but it is not listed on Crowdin.

[2015-10-27 17:13] sagikazarmark opened #3491 "Category images"
Do you think it is possible with the current Doctrine/Form types to add an image field to categories?

I am aware of this page:

http://docs.akeneo.com/latest/cookbook/category/add-properties-to-category.html

However I haven't started researching whether this is possible at all.

[2015-10-27 17:14] sagikazarmark opened #3492 "Family attributes"
Can I add custom attributes to families as well?

Based on this guide, I can in case of Categories:

http://docs.akeneo.com/latest/cookbook/category/add-properties-to-category.html

[2015-10-28 11:04] LaureBro commented on #3465
Hello,

The category tree freezes because you need to fill in the properties of the new category. Once you edit the label (and code) and save the category properties, you can edit other categories.
Maybe we'll add a note in our user guides.
Thanks for your feedback.

Best regards,

Laure

[2015-10-28 13:23] sagikazarmark commented on #3465
I think the code is read only at that time. Probably it would be better, if clicking the create would bring up the category editor instead of requiring the code first. Currently you have to input something for the new node, which then is saved as the code. But it seems to be a bit illogical to me: if something, then passing the label there is logical IMO.

[2015-10-28 16:00] fred2gombert commented on #3490
Hi there!

Thank you for offering to help with the translation effort! We just added Hungarian to Crowdin : https://crowdin.com/project/akeneo/hu

Thank you!

[2015-10-28 16:00] #3490 closed

[2015-10-28 16:21] jmleroux commented on #3466
Exact @sagikazarmark , opcode IS enabled by the use of `apcu` extension.
This is a cache where the doctrine metadata are stored and that's why you may need to restart apache.

[2015-10-28 16:31] #3461 closed

[2015-10-28 19:58] sagikazarmark commented on #3466
There are already existing solutions (mean: hacks) to clear opcode cache from the application. The problem is that opcode is handled separately for different sapis, this simply invalidating from the console is not enough. (At least it is true for Zend Opcache, can't say for sure for apcu).

[2015-10-29 22:43] sagikazarmark opened #3507 "Better WYSIWYG editor"
The current HTML editor is not really featureful. Is it possible to replace it? (Either per application, or globally in akeneo)

[2015-10-30 08:59] clicktrend opened #3509 "Mass Edit error"
I have upgraded from 1.3 to 1.4.5. Actually I cannot mass edit products.

    No job found with job code "add_product_value"
    500 Internal Server Error - NotFoundResourceException

    in vendor/akeneo/pim-community-dev/src/Pim/Bundle/EnrichBundle/Controller/MassEditActionController.php at line 223

    $jobInstance = $this->getRepository('AkeneoBatchBundle:JobInstance')->findOneBy(['code' => $

[2015-10-30 11:24] wawan93 opened #3511 "Composer error: Your requirements could not be resolved to an installable set of packages"
When I try to do `php composer.phar install`, I get this error:
[code]

[2015-11-03 22:34] moblong commented on #1021
Hello,

i have the same issue since Version 1.3.x until 1.4.7.
Could anyone help me ?

[2015-11-05 10:41] clicktrend commented on #3509
After reinstalling a clean db I recognized missing connectors in "akeneo_batch_job_instance". So I executed this query in my former db

    INSERT INTO `akeneo_batch_job_instance` (`code`, `label`, `alias`, `status`, `connector`, `type`, `rawConfiguration`)
    VALUES
	('update_product_value', 'Mass update products', 'update_product_value', 0, 'Akeneo Mass Edit Connector', 'mass_edit', 'a:0:{}'),

[2015-11-05 10:41] #3509 closed

[2015-11-09 10:14] clicktrend opened #3553 "Uploaded picture not showing"
After uploading an image file the thumbnail is not working. You see only the default "?" (question mark picture). After saving the product it's visible.

The uploaded picture is saved in "tmp" directory correctly. But it cannot be shown because of the query in FileController.php line 83

    $file = $this->fileInfoRepository->findOneByIdentifier($filename);

This is NULL because the file is not sa

[2015-11-12 10:40] jmleroux commented on #3553
Hi @clicktrend

Thanks for your report, we will integrate this issue in our internal bug tracker.

Regards,
JM

[2015-11-12 10:43] jmleroux commented on #3511
Hello @wawan93

What is your version of lib-icu ?
You can get it with this command : `php -i|grep ICU`

[2015-11-12 10:45] #3466 closed

[2015-11-12 10:48] jmleroux commented on #3507
The WYSIWYG integration is done in just one file, so i'd say yes.

You can find the instantiation in this file : https://github.com/akeneo/pim-community-dev/blob/9bc4e089f25f9cfd3e26a22681713cfd278a407e/src/Pim/Bundle/EnrichBundle/Resources/public/js/product/field/wysiwyg-field.js#L31

Regards,
JM

[2015-11-12 10:49] #2397 closed

[2015-11-12 10:51] #3428 closed

[2015-11-12 10:53] #2007 closed

[2015-11-16 00:22] userz58 opened #3572 "where i can disable removing media file after removing field?"
i would like use HASH parameter to upload and save only unique files Akeneo\Component\FileStorage\Model\FileInfo
Akeneo\Component\FileStorage\File\FileStorer

i have problem: when i click on media field on trash icon - file will saved in DB.

when i will add to product additional field "PDF description" (and upload file).
if i will remove additional field - file will be deleted from DB.

where i c

[2015-11-16 00:56] userz58 commented on #3572
Pim\Bundle\CatalogBundle\Model\ProductValue:
    type: entity
    table: pim_catalog_product_value
    changeTrackingPolicy: DEFERRED_EXPLICIT
    indexes:
        value_idx:
            columns:
                - attribute_id
                - locale_code
                - scope_code
        varchar_idx:
            columns:
                - value_string
        integer_idx:
            columns:

[2015-11-16 14:04] igormukhingmailcom opened #3578 "No parent_id field in database on overrided entity Category"
Hi.

I've added new fields via overriding Category entity as described here: http://docs.akeneo.com/master/cookbook/category/add-properties-to-category.html

But when I trying to run `pim:install` - I have next result:

[code]

Entity `CustomCategory` overrides `Category` right way, but field `parent_id` not in database for unexpected reason, only `id, code, created, root, lvl, lft, rgt` and my cu

[2015-11-18 09:04] Hocdoc opened #3591 "Product grid: Columns order lost"
The order of the columns in the product grid gets lost (Akeneo 1.4.9):

1. Click the "Columns" button in the product grid and change the order of the displayed columns
2. Click "Apply"
3. Click the "Columns" button again => the columns are in the old order again

[2015-11-18 09:13] Hocdoc opened #3592 "Product grid: Store all filters to the view"
Users can store the view of the grid. Unfortunately it seems that filters that are visible but not active (f.ex. `Description: All`) are *not* stored to the view. Only filters with a value are stored (f.ex. `Description: contains "a"`).

Our users want to add multiple filters to a view and then select which one they want to use. This isn't possible at the moment, as only "active" filters get store

[2015-11-18 12:40] Hocdoc opened #3594 "Race condition while editing product associations"
1. Edit the associations of a product: On the left sidebar click on the second (or third...) association group and check a product to associate it.
2. Save the product
3. After the `Product successfully updated.` message you will get "redirected" to the first association group again. Quickly click on the second association group again **before** the grid is rendered (this doesn't work in the Akene

[2015-11-18 13:51] Hocdoc opened #3595 "Quick export: Number of columns inconsistent"
Although the export button in the product grid in Akeneo 1.4.9 is labeled "Quick export/CSV (**All** attributes)" the number of exported attributes depends on the selected products.

It seems to me, that if in an attribute group all attribute values are empty, all attributes of the attribute group will not get exported.
So when we are exporting different products, we have different columns in the

[2015-11-18 14:12] masmrlar commented on #2397
Writing an additonal command is no real soluton for this.
If you use a regular csv import for the product data from foreign systems and that foreign system changes images or drops images of a gallery there must be a possiblitity to remove the images in the PIM by the import.

[2015-11-18 16:46] sagikazarmark commented on #3429
CSV import is indeed slower for me on 1.4.9 as well: importing 24000 products took 5 hours with multiselect 40 attributes.

[2015-11-19 16:18] Jean-Beru opened #3610 "Family grid and ONLY_FULL_GROUP_BY mysql mode"
Mysql 5.7 and above have "only_full_group_by mode" enabled by default (see http://mysqlserverteam.com/mysql-5-7-only_full_group_by-improved-recognizing-functional-dependencies-enabled-by-default/).

Since then, family grid doesn't show due to an mysql error during an ajax call (datagrid/family-grid/load) :
[code]

This mode can be disabled with `SET GLOBAL sql_mode="..."` but I thought it could be

[2015-11-19 18:59] julmuell commented on #3578
Same problems here. What i get after recreating the database is the following schema:

![MyCategory](https://cloud.githubusercontent.com/assets/2564520/11280583/f976f80c-8ef6-11e5-9dce-2931e1e7ce5f.png)

I guess it should be only one table with a "self-reference" (like the old pim_catalog_category has got).

Within the import job the generated query `SELECT t1.id AS id2, t1.code AS code3, t1.creat

[2015-11-19 20:23] igormukhingmailcom commented on #3578
@julmuell Yes, have exactly same tables structure, without parent_id on custom table.
WDYT, this is Doctrine issue?

[2015-11-20 09:15] LaureBro commented on #3591
Hello Hocdoc,

Thanks for your message, we have noticed this bug and are currently working on it, we'll keep you updated.

Best regards,

Laure

[2015-11-20 10:44] LaureBro commented on #3592
Hello Hocdoc,

Filters with "all" are not considered as a filter (because it doesn't change the list of products as a result).
This improvement is already listed in our Product roadmap.
We'll keep you updated.

Best regards,

Laure

[2015-11-23 09:24] LaureBro commented on #3592
Hocdoc,

What you can also do is set default filters per user, go in System/Users management/Users then Edit a user, in Additional Information you'll be able to set default filters.

Best regards,

Laure

[2015-11-23 09:43] Hocdoc commented on #3592
Thanks for your response. But I think the view concept is much more powerful than the new default user filters.

It would be great, if also "all"-filters get stored to the views sometime in the future.

[2015-12-01 08:49] Hocdoc commented on #3591
Fixed in Akeneo 1.4.11.

[2015-12-01 08:49] #3591 closed

[2015-12-01 18:18] nidup commented on #3462
thank you for the report, it has been fixed in v1.4.7

[2015-12-01 21:33] DrewK289 opened #3686 "Cannot assign product to categories that have a whole number as the category code"
If category code is a whole number, javascript parses it as an integer when submitting the POST, and causes the CategoryFieldSetter class to throw the following exception:

`500 Internal Server Error - InvalidArgumentException
Attribute or field "categories" expects an array with a string value for the key "1", "integer" given (for setter category).`

This is being thrown on line 89 of "Pim\Compon

[2015-12-02 17:27] Afroger commented on #3424
Is this bug solved in the Akeneo Version 1.4.11 ?

[2015-12-03 10:29] alexisfroger opened #3698 "Order attributes are ignored in the product form"
I believe is the same problem that akeneo's forum (http://www.akeneo.com/forums/topic/attributes-order-2/) but there was no solution ! Or similar at this issue #3424 about the attribute groups order.

Version akeneo : 1.4.11

Indeed when I sort my attributes (with the drag and drop in the right column) in Settings/Attribute Groups

*Attribute groups screenshot*
![image](https://cloud.githubusercon

[2015-12-03 16:53] DrewK289 opened #3704 "Doctrine\ORM\AbstractQuery "use" statement missing in Akeneo\Bundle\ClassificationBundle\Doctrine\ORM\Repository\AbstractItemCategoryRepository"
The getItemIdsInCategory() function uses "AbstractQuery::HYDRATE_ARRAY" (line 86), but the AbstractQuery class is missing the "use" statement in the AbstractItemCategoryRepository class, causing PHP to throw a fatal error:
`PHP Fatal error:  Class 'Akeneo\Bundle\ClassificationBundle\Doctrine\ORM\Repository\AbstractQuery' not found in /opt/data/apps/pim-dev/vendor/akeneo/pim-community-dev/src/Akene

[2015-12-07 20:57] NovikovViktor opened #3719 "How to create custom data grid using Akeneo"
Hi there, I want to add some custom page to Akeneo, and render there grid with some custom data, but I faced problem. I am including macros.html.twig to my page, then calls macro to build grid, path there name of route for fetch my data from. But I getting error about required parameter `locale_code`. So I trying to fix that but didnt get any results. So can somebody help me? I know that not issue

[2015-12-08 13:49] LaureBro commented on #3698
Hello Alexis,

Thanks your message! We have noticed this issue too, sorry for that, it should be fixed in the next patch - that will be released this week. I'll keep you updated.

Best regards,

Laure

[2015-12-08 13:59] LaureBro commented on #3595
Hello Hocdoc,

sorry for the delay to answer, this was a big topic for us.
We have made some changes on the 1.4.12, regarding imports and exports, and changes made on families. Before when you were adding/removing an attribute at the family level, you had to save the product(s) to have the attributes updated, now it's done automatically.

Regarding empty attributes that are not exported, I could n

[2015-12-08 14:03] LaureBro commented on #3594
Hello Hocdoc,
Do you still have the issue on the 1.4.12?
I'm not sure I understand the issue, is it a performance issue: the page is long to load and associated products are not displayed, am I right?

Thanks!

[2015-12-09 09:17] juliensnz commented on #3704
Hello @DrewK289,

Definitely a bug, I propose  a bug fix right away.

Regards,

Julien

[2015-12-09 09:19] juliensnz commented on #3698
Here is the related pull request: https://github.com/akeneo/pim-community-dev/pull/3721

I close the issue, thanks a lot for this report !

[2015-12-09 09:19] #3698 closed

[2015-12-09 09:22] juliensnz commented on #3686
Hello @DrewK289,

It's definitely a problem. I add it to our bug tracker.

Thanks a lot for the report.

Regards

[2015-12-09 09:44] juliensnz commented on #3594
Hello @Hocdoc,

This is definitely a bug. I create a bug in our bug tracker right away.

Regards,

Julien

[2015-12-09 09:48] juliensnz commented on #3592
For the record this issue is tracked as IM-139 in our roadmap.

[2015-12-09 09:56] juliensnz commented on #3572
Hello @userz58,

What you try to achieve is already the normal behaviour on Akeneo PIM:
When a media is removed from a product field, we keep it in the media table and keep it on the file system. We only break the relation between the product value and the media in database.

Did I miss something ?

Regards,

Julien

[2015-12-09 10:01] userz58 commented on #3572
when you detele additional field - file will be deleted too.

[2015-12-09 10:03] juliensnz commented on #3572
Which version of the PIM are you using ?

[2015-12-09 10:06] userz58 commented on #3572
1.4.8

[2015-12-09 10:16] juliensnz commented on #3578
Hello guys,

Did you override the orm mapping ? You should have this:

[code]

And added this key to the DI:
[code]

Regards

[2015-12-09 10:24] juliensnz commented on #3572
I just checked on 1.4.12:

I go to a product with a media attached to it. I remove it and save the product.

The media is still on the mysql table and on the file system.

Could you update to try it ?

[2015-12-09 10:25] juliensnz commented on #3719
Responded on the forum: http://www.akeneo.com/forums/topic/create-grid-base-on-akeneo-components/#post-6412

[2015-12-09 10:25] #3719 closed

[2015-12-09 10:50] userz58 commented on #3572
1 you open saved product.
2 add new media field
3 upload image or pdf
4 save product
----
5 remove FIELD (don't click trash icon)
6 save
file will be deleted from DB

[2015-12-09 11:29] Hocdoc commented on #3595
I've just tried it with 1.4.12, the problem is still there.

Steps to reproduce:

1. Create two products with the same family (with some attribute groups).
2. Save the first product just with the SKU.
3. Save the second product with values in all attributes.
4. Make a quick export of the first product.
5. Make a quick export of the second product.

=> In the CSV of the first product export there a

[2015-12-09 11:31] Hocdoc commented on #3594
The issue is still there in 1.4.12. Thanks for the bug tracking.

[2015-12-09 14:04] igormukhingmailcom commented on #3578
Hi, @juliensnz. Yes, sure. With no result.
I've resolve this issue by fully copy-pasting parent entity and adding new fields right into copied one - so I've got a big file with lot of fields :). After this I have two tables (new one and parent one that not using anymore), but it at least working...

[2015-12-09 16:04] xabbuh opened #3732 "Mapping overriddes not completely replaced"
I use MongoDB to store product data and override the entity class for product attributes like this to be able to add some custom data to all attributes:

[code]

However, I still experience places where Akeneo happens to try to access the original class. I believe this is due to the fact that in the Doctrine class metadata there are still references to the old class name. For example, the mapping

[2015-12-10 16:47] alexisfroger opened #3737 "Error channel between product grid and product form in views"
When I use a specific view in the product grid and I want update my product, there is a channel error. It isn't the same channel between the product grid and the product form ! In fact, it is the last channel I am using in Akeneo and not my channel view.

For example, I'm in my "Adonix" view with my "Default" channel and I want to update a product.

![image](https://cloud.githubusercontent.com/ass

[2015-12-11 03:34] nidup commented on #3429
FYI we're currently working on our performance guide, you can find extra info here http://docs.akeneo.com/latest/reference/performances_guide/index.html

Are you running in prod mode without xdebug enabled ? Are you encountered memory leak?

As any catalog is different it's quite hard to give a general and accurate answer, for this kind of issue we advise to profile with https://blackfire.io/

It

[2015-12-14 07:33] Hocdoc commented on #3429
I've done the import in prod mode without xdebug enabled.

Thanks for the useful performance guide & profiler link. I will try the profiler if I can get some free time in the future. As we don't import products very often, the import performance isn't that important for us. We just wondered why there was such a huge import speed difference between 1.4.3 and 1.4.4.

[2015-12-14 09:57] gplanchat opened #3748 "Unique attributes written multiple times in the DB"
I'm facing the same issue than in issue #1657

My attribute `sku` (id: 1), the product's unique identifier is saved multiple times :

![image](https://cloud.githubusercontent.com/assets/152367/11766446/b570c06c-a188-11e5-897d-a40cb90edcb9.png)

There is no differences between duplicated rows, excepting the varchar value, sometimes registered as null on one row and correctly filled on the second ro

[2015-12-15 08:20] alexisfroger commented on #3424
Thank you for your correction ! That works perfectly in version 1.4.13

[2015-12-16 08:22] mathielen opened #3763 "No ability to change precision of "number" fields"
Why is a number-typed attribute always shown with 4 decimal places? Even if I set the field to not allow decimals, it is still shown as it would be allowed.

Thought it might be related to the precision argument in the constructor of Pim\Bundle\TransformBundle\Normalizer\Flat\ProductValueNormalizer.

Any way to have the precision as a configuration value? Or at least not to show decimal places if

[2015-12-16 10:06] #3424 closed

[2015-12-16 10:07] #3462 closed

[2015-12-16 15:42] LaureBro commented on #3763
Hello,
Currently the system records the number with .0000 even if you do not allow decimals in the attribute properties.
Please note that the validation on decimals works well.

This behaviour will be fixed in the next Akeneo version (1.5) that will be released beginning of next year.

Best regards,

Laure

[2015-12-16 15:50] LaureBro commented on #3737
Hello,

I have tested on our latest version (1.4.13) and the channel selected in the product grid is always the one displayed in the Product Edit Form.
Which version are you using?

Thanks,
Best regards,

Laure

[2015-12-16 15:50] mathielen commented on #3763
Great! Thank you.

[2015-12-16 15:50] #3763 closed

[2015-12-16 16:08] LaureBro commented on #3595
Hello,

Thanks for your feedback, I have followed your steps and tested on the 1.4.13 and it is working fine for  me: I have the exact same number of attributes in both quick exports.

I'll still try to reproduce it on our demo.akeneo.com (once new versions will be deployed).

Thanks.

[2015-12-16 18:48] harshavmb opened #3770 "admin access issue"
Hi,

I logged into http://demo.akeneo.com/ with admin/admin credentials. I could create a user without admin privileges, I logged in with newly created user credentials (harshavmb - username).

However, without admin privileges I could delete admin user. Later I recreated the admin user so that others will not face the issue.

So, to conclude access privileges are not working properly on demo appl

[2015-12-17 07:08] Hocdoc commented on #3595
I've just tried it on demo.akeneo.com with Akeneo 1.4.13 and still have the problem:

1. Create a product with the family `Loudspeakers`, leave all fields empty and return to the grid.
2. Make the quick export for just this product -> The CSV contains 16 columns (A-P)
3. Export the product with the SKU `10699783` (Sony SRS-BTV25) which is also a loudspeaker. -> The CSV contains 17 columns (A-Q).

[2015-12-17 08:36] Hocdoc opened #3771 "CompletenessWidget is too slow"
In the dashboard, the widget on the left side "Completeness Over Channels and Locales" (`CompletenessWidget`)  doesn't scale well. Calculating the completeness statistics takes so many resources that it kills our system:
- Akeneo 1.4.13 with MySQL
- 160,000 products with 350 attributes (yes, maybe we should use Mongo in the future)
- nearly all products are complete and enabled
- all products are

[2015-12-18 09:36] LaureBro commented on #3770
Hello,

Actually the permissions are the same for the 3 roles on our demo.akeneo.com environment, so that's why you could delete an admin with a user role. It's not a bug, it's a configuration "issue".
We're planning to change this, because as you have noticed it does not reflect the capabilities of Akeneo.
You can make a test in System/Users management/Roles and Edit the permissions for the User

[2015-12-18 09:41] harshavmb commented on #3770
sure.. Thanks LaureBro

[2015-12-18 09:50] gplanchat opened #3783 "Classes implementing ArchivableWriterInterface consumes too much resources"
I created a connector that exports to CSV using `Pim\Bundle\BaseConnectorBundle\Writer\File\CsvWriter` and its descendents for variant group and products.

When I'm exporting my products with images, a zip file seems to be generated, due to the implementation of interface `Pim\Bundle\BaseConnectorBundle\Writer\File\ArchivableWriterInterface`. This file generation seems to generate the file in-memo

[2015-12-21 04:21] ewallteam opened #3786 "Akeneo shows 500 internel server error while connect with MongoDb"
Hi,
I have installed Akeneo and MongoDb by using Bitnami stack with two different instance on Google cloud. The Akeneo perfoming well with MySql connection but dose work and show the Internal server error with MongoDb connection moreover the Installation was completed successfully with MongoDb. Don't know why its shows the internal server error after the installation, Can anyone help me to resolve

[2015-12-21 15:53] gplanchat opened #3788 "Media attributes fails when updating product data"
While importing updates to existing products, some errors occurs :

[code]

The image attributes does not seem to work correctly, the only datas that changed in this import should be some `pim_catalog_price` attributes. The error does not appear when the product did not exist yet.

Excepting a specific `ArrayConverter` that changes the columns names and maps the text values to attribute value code

[2015-12-21 18:09] #3770 closed

[2015-12-21 18:18] nidup commented on #3786
Hi,
It looks like the PHP Mongo driver is not even installed, i guess there is an installation problem.
How did you installed Akeneo PIM with MongoDB storage with bitnami?
Are you able to connect to your MongoDB server to check if there is any data in the product collection?

[2015-12-21 18:28] nidup commented on #3704
Thank you for your valuable feedback, it has been fixed in v1.4.13.

[2015-12-21 18:28] #3704 closed

[2015-12-21 18:56] nidup commented on #3610
Hi @Jean-Beru,

Thank you for your feedback, we really appreciate it!

Really great to see that Mysql now enforces this kind of detection, if you want help us and contribute to Akeneo PIM don't hesitate to write a Pull Request, we'll be glad to review and merge it.

The patch should be applied in this query https://github.com/akeneo/pim-community-dev/blob/1.4/src/Pim/Bundle/CatalogBundle/Doctrine/

[2015-12-22 05:19] ewallteam commented on #3786
Hi @nidup ,

Thanks for your response, yes you are correct, issue is related to "Mongo" PHP driver but I have installed the same and enabled it on php.ini but my phpinfo() dose not show anything about Mongo driver. I have used the Bitnami Akeneo stack on Google Debian instance, moreover the Database and some collections are created during the installation but it's not working after the installatio

[2015-12-22 06:29] nidup commented on #3786
Hi,
If installation properly works but application does not work via a browser i would say Mongo is enabled for PHP cli in /etc/php5/cli/php.ini and not enabled for PHP apache in /etc/php5/apache2/php.ini. If mongo is well enabled in this php.ini, it should appear in phpinfo, have you restarted/reloaded apache to refresh the apache configuration ?

[2015-12-22 07:11] ewallteam commented on #3786
Hi @nidup
I have seen the "Loaded Configuration File" is "opt/bitnami/php/etc/php.ini" in the browser and I have added the Mongo driver extension on the same and restart the apache but still I got the same error.
Thanks.

[2015-12-22 08:24] Jean-Beru commented on #3610
It will be a pleasure to do a PR on it but I have some difficulties to run Behat tests on my machine. I have to fix it before...

[2015-12-22 09:32] xabbuh commented on #3732
ping :)

I would be willing to create a pull request if someone confirms that this is indeed a bug. Please feel free to let me know if you need any further information.

[2015-12-22 11:16] nidup commented on #3610
No problem, if you write the PR with the fix only and manually test it, I will be happy to run the PR for you on our Continuous Integration to execute all the Behat. BTW, run all the Behat scenario on your own machine could takes ~15 hours (we have a very special setup of our CI with parallelisation and lot of containers to run it in 30 min).

[2015-12-22 11:39] nidup commented on #3786
Hi @ewallteam,

Weird, I don't really know how to work the Bitnami stack, could you ask to the Bitnami support why the driver is not properly loaded, maybe there is some custom conf in their stack ?
I think other users may have the same issue than you and will be interested to know what is the change to apply.

Thank you!

[2015-12-22 11:52] ewallteam commented on #3786
Thanks @nidup
I have raised same question on Bitnami forum and waiting for their response. Moreover thanks for your great support and quick response. Thanks :-)

[2015-12-22 16:34] gplanchat commented on #3783
Seems like there is the same issue here :

http://www.akeneo.com/forums/topic/issues-when-running-job-via-terminal/#post-6519

[2015-12-22 18:05] nidup commented on #3732
Hi @xabbuh

First sorry for the late answer and thank you a lot for raising this issue, this topic is very interesting but is quite complex, so let's summarize to have clear ideas :)

Let's start by the use of full doctrine ORM storage (products, product values and attributes in mysql),

1 - Replace a model interface by a doctrine entity

We originaly took inspiration from http://symfony.com/doc/2

[2015-12-22 19:46] nidup commented on #3578
Hi @igormukhingmailcom and @julmuell !

You're right, there is an issue in the 1.4 documentation, thank you very much for the feedback!

We've fixed the doc in this Pull Request https://github.com/akeneo/pim-docs/pull/190/files (we'll deploy it soon on our official doc).

The missing part is the following one:
[code]

This part configures the automatic copy/paste of parent class mapping.

We've en

[2015-12-22 19:58] igormukhingmailcom commented on #3578
Hi, @nidup! Thank you very much :)

[2015-12-23 13:37] NovikovViktor opened #3797 "Multiselect field type for item step getConfigurationFields()"
Hello, I am working on creation one batch job. And I want to make some configuration parameter as multiselect option. So, I configured field like in the example below:

[code]
I configured my job, and save it with both selected parameters. But when went to Job view page, I got exception:

[code]

So after some debugging process I found that you handle `choice` field type in your Twig filter `norma

[2015-12-23 14:01] gplanchat commented on #3797
Wouldn't it be this configuration for `options` attribute?

[code]

[2015-12-23 15:42] NovikovViktor commented on #3797
@gplanchat , yes that is the point about returned array, thanks. But I still need to add custom logic to output data, if it in array format. So this thing I suppose should be handled by Akeneo.

[2015-12-23 15:49] gplanchat commented on #3797
I don't understand your need, what do you mean by "But I still need to add custom logic to output data, if it in array format."?

[2015-12-23 16:20] NovikovViktor commented on #3797
@gplanchat , I mean that I still need override `_show_form.html.twig` template, as it is expects that data will be in string formmat, not in array.

[2015-12-23 16:43] gplanchat commented on #3797
Why do you need an array? I think you are trying to solve the problem with the wrong solution.

Your option selector can help you to pick a service in the DI, which will be much effective than trying to hack Akeneo's templates. To do this, you may have to create a new compiler pass in your bundle and use service tags in your select values : http://symfony.com/doc/current/components/dependency_inje

[2015-12-23 21:34] gplanchat commented on #3797
Maybe this change in a previous tweet could also be a response to your issue :

https://twitter.com/gplanchat/status/674617531009794048

https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/ImportExportBundle/Twig/NormalizeConfigurationExtension.php#L71

[2015-12-24 14:30] NovikovViktor commented on #3797
@gplanchat , thanks for last note. I am used older version so need to update right now :+1:

[2015-12-24 17:31] nidup commented on #3797
Great, thx @gplanchat for the support :)

[2015-12-24 17:31] #3797 closed

[2015-12-25 11:14] NovikovViktor opened #3803 "Accessing private property in child class"
Hello, found a little strange issue in both adapters [here](https://github.com/akeneo/pim-community-dev/tree/master/src/Pim/Bundle/FilterBundle/Datasource/Orm). There you are trying access property `$expressionBuilder`. How this working?

[2015-12-28 12:32] nidup commented on #3803
Hi,

It's a legacy override of an old version of OroOrmFilterDatasourceAdapter, the ExpressionBuilder is instanciated here https://github.com/akeneo/pim-community-dev/blob/master/src/Oro/Bundle/FilterBundle/Datasource/Orm/OrmFilterDatasourceAdapter.php#L87

What is the issue you encountering?

[2015-12-28 12:42] nidup commented on #3783
This is a known issue, we're discussing with product owner to decide what is the best approach to better handled this case (we're preparing a set of features to enhance the export part).

It could be an extra step which zip (or copy files to a configured server), from design point of view, it should not come from the implementation of an interface (at least not natively).

[2015-12-28 16:26] gplanchat commented on #3783
Maybe an optional `Job` item named `archive`, in addition to `reader`, `processor` and `writer` could do the trick, be very explicit and be easy to implement

[2015-12-29 09:57] NovikovViktor opened #3807 "Custom filtering products by scope code"
Hello, I am building grid with custom products output. I want to filter my products in all existing channels. So I went to documentation and found this [article](http://docs.akeneo.com/latest/cookbook/catalog/product/query.html#build-a-query), I tried to add scope filter:
[code]
But I got exception with message: `Filter on field "scope" is not supported`.
The same happened on `scope_code` etc. So

[2015-12-29 15:58] NovikovViktor commented on #3807
When grid is rendering  it fetches product values for all scopes, but when I try to filter values by some attribute, it fetches data (attribute values) only per current grid scope. So the main problem is to find endpoint where this action performs. Could somebody clarify how it works please?

[2015-12-31 19:16] NovikovViktor commented on #3803
@nidup, hello, thanks for reply. It is not isssue as well, but it seems strange, that you "override" this property. It is unclearly how it is working, I mean that `expressionBuilder` is defined as private, so it cannot be accessed from children classs.

[2016-01-04 12:50] NovikovViktor opened #3817 "Redundant dataLocale parameter in JavaScript route generation"
Hello, I have question. What is the reason to pass dataLocale as parameter for route [here](https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/DataGridBundle/Resources/public/js/datagrid/action/configure-columns-action.js#LC231), if in route definition dataLocale doesn't mentioned?
[routingDefinition](https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/DataGr

[2016-01-05 09:44] nidup commented on #3817
I would say to localize the attribute label by using the locale selected in the locale switcher of the grid.
I do agree, it looks weird from routing point of view :)

[2016-01-05 10:21] NovikovViktor commented on #3817
@nidup , so is it made as "look to the future" ?

[2016-01-05 10:25] NovikovViktor commented on #3807
@nidup , we have solved this by creating custom filter type and custom ValueJoin for it. So this issue-question can be marked as closed. Thanks for attention :laughing:

[2016-01-05 10:40] xabbuh commented on #3732
Hi Nicolas,

thank you very much for your detailed response (sadly I didn't find time earlier to read it completely).

I think you are raising a valid point when you talk about using the interface instead of a concrete class name in the MongoDB mapping configuration. However, I also think that this is a bit different use case and we are actually talking about two different issues:

Not using the i

[2016-01-05 10:50] nidup commented on #3807
Hi @NovikovViktor, thank you for the feedback and sorry for the no answer :(

[2016-01-05 10:50] #3807 closed

[2016-01-05 10:54] mathielen opened #3828 "Decimal fields should respect locale"
We are using the german translation of akeneo. So the user is also expecting the system to accept german number notation. i.e. "1.234,56" in the relevant fields (numbers, prices, metrics, etc).
Right now, the system forces the user to input us-style numbers, i.e. 1234.56 (the "," seems to be forbidden).

[2016-01-05 11:02] skeleton commented on #3828
Hi @mathielen ,

this functionality is on track for 1.5 version :)

Regards,

Skeleton

[2016-01-05 11:22] nidup commented on #3817
In the popin, the attribute labels are already translated depending on the selected data locale in the switcher (passed as dataLocale). The UI (titles, labels, buttons) is translated depending on the language selected in system / config (BTW, we reworked the localization part in the upcoming 1.5 to allow a different UI language per user).

So, it's an inconsistency in the code, dataLocale should b

[2016-01-05 16:05] LaureBro commented on #3686
Hello,

FYI, we are now working on a fix for this issue.
A patch should be available shortly, we'll keep you updated.

Best regards,

Laure

[2016-01-06 12:48] NovikovViktor opened #3836 "Share context(data) between job steps"
Hello, I will reference this issue to existing forum [topic](http://www.akeneo.com/forums/topic/share-contextdata-between-job-steps/).
I think the main idea of it is quite clear. Suggested solution with event listeners seems to be working, but looks to be overcomplicated, and Akeneo should provide out of the box more relevant functionality.
For our purposes I created singleton class SharedContext

[2016-01-06 14:36] NovikovViktor opened #3837 "Create grid base on Akeneo components"
This issue should be referenced with this [topic](http://www.akeneo.com/forums/topic/create-grid-base-on-akeneo-components/), until conversation about multichannel grid (because this is another story).

So the main concept is to build custom grid using Akeneo.  During this process I faced with few problems that are not described in documentation.

After I  have built my datagrid I should add custo

[2016-01-06 15:14] Jean-Beru commented on #3610
Hmmmm... This bug could be resolved by using
* ANY_VALUE() for each joined field in SELECT statement (https://github.com/akeneo/pim-community-dev/blob/1.4/src/Pim/Bundle/CatalogBundle/Doctrine/ORM/Repository/FamilyRepository.php#L147) but it exists only in MSQL (since 5.7).
* More relevant GROUP BY generated by ORM pager (https://github.com/Jean-Beru/pim-community-dev/blob/21837e99c38f528b857f88f7

[2016-01-06 15:52] Jean-Beru commented on #3610
OKay, finally I found a "very easy" solution...

[2016-01-07 07:41] ewallteam opened #3841 "Product Export always shows empty"
Hi all,

I have used the Akeneo latest version, and imported products more than 12000  into it. But when I have export the products it show empty result. Can anyone help me resolve the same.

Thanks

[2016-01-07 09:13] skeleton commented on #3841
Hi @ewallteam ,

Export products exports only products by a channel and with a 100% completeness (if you want to know more about it, you can read the [documentation](http://docs.akeneo.com/latest/userguide/keyconcepts.html?highlight=completeness#what-is-completeness)).
You can check how many products are complete in the product datagrid with the filter "complete".

Regards,

Skeleton

[2016-01-07 09:25] ewallteam commented on #3841
Hi @skeleton

Thanks for your quick reply,
All my products having the 100% completeness but no luck.Do you Have any Idea to resolve this?

[2016-01-07 09:27] skeleton commented on #3841
Is there any informations in your logs (symfony and apache) ?
Do you use the standard export or do you have a customization ?

[2016-01-07 10:05] ewallteam commented on #3841
Hi @skeleton

I have found only the batch log from the location app/log/ which have the below details,

job=[export_product_after_upgrade] [] [] [2016-01-07 09:54:49] batch.INFO: Step execution starting: id=0, name=[pim_enhanced_connector.export.product.title],
status=[2], exitCode=[EXECUTING], exitDescription=[] [] [] [2016-01-07 09:54:49] batch.DEBUG: Step execution success: id= 734 [] [] [2016-

[2016-01-07 13:24] nidup commented on #3837
Thank you for the feedback, we would enhance the datagrid architecture in future versions to ease this kind of custom.

[2016-01-08 11:09] #3841 closed

[2016-01-08 13:46] nidup commented on #3610
Your PR has been merged, thank you again!

Did you encountered any other issue related to Mysql 5.7?

[2016-01-08 14:54] Jean-Beru commented on #3610
No, I didn't encounter other issues when I was working on it.

But I removed the ONLY_FULL_GROUP_BY mode, so some bugs may still exists.

[2016-01-08 15:03] nidup commented on #3610
Ok, I close the ticket, don't hesitate to open a new ticket if you encounter another issue.

[2016-01-08 15:03] #3610 closed

[2016-01-11 08:47] manh-nguyen opened #3851 "Allow to link 1 simple product to multiple variant groups"
Hi guys,

Can you please help me to tell our client that why don't you allow to associate 1 product into several variant groups?
http://i.imgur.com/ES0A9II.png
http://i.imgur.com/PD2Qgr3.png

I'm using Version (EE):1.4.14 SamaraVersion (CE):1.4.15 Rhapsody Rabbit.

It's able to do in Magento. Maybe this is the source code to filter the eligible products for Variant Group
https://github.com/akeneo/

[2016-01-11 08:56] LaureBro commented on #3851
Hello @manh,

GitHub is meant for Community users to post issues or questions :)
Since you are a EE customer, can you post this question through our Helpdesk?

Thanks a lot,

Best regards,

Laure Brosseau

[2016-01-11 09:09] manh-nguyen commented on #3851
Hi @LaureBro ,
Thank you very much for the quick response !
I think it's a part of CE version, so that's why I posted it here.
Maybe some other guys also want to know about it.

Regards,
Manh

[2016-01-12 14:32] LaureBro commented on #3851
Hello @manh-nguyen,

products that are linked to variant groups, inherit from the variant groups values (specially attributes). If a product was linked to several variant groups, it will be very complicated to manage the inheritance of values.

Why would you need to have one product linked to several variant groups? We could help you to find a workaround.

Best regards,

Laure

[2016-01-14 04:21] manh-nguyen commented on #3851
Hi @LaureBro ,
Thank you very much for the answer !

I don't have any idea about why we need to link one simple product to several variant groups. It's existing on our client side and our client asked us to support it.
I rechecked the magento default yesterday to see it's allowed by magento default or not. I saw Magento also doesn't allow it as Akeneo.

I'm trying to refuse this request from our c

[2016-01-14 04:21] #3851 closed

[2016-01-14 07:13] nidup commented on #3343
@gplanchat thanks again for raising the issue!

More info here https://medium.com/akeneo-labs/akeneo-pim-php7-and-hhvm-compatibility-98e7fe0ce582

[2016-01-14 07:13] #3343 closed

[2016-01-14 14:12] NovikovViktor opened #3873 "Suggestion about Akeneo attributes"
Hello, to my point of view it would be great, if there was mechanism to add custom extra attribute properties. For example, some boolean flag to make product attribute disabled on edit screen. I know it might be complicated in providing, and can seriously touch existent database schema.

[2016-01-16 12:15] nidup commented on #3732
Hi @xabbuh !
Sorry for the late answer, you're right we have 2 different issues there :)
Could be very nice if you could do a Pull Request to fix the MappingsOverrideConfigurator and update the related phpspec MappingsOverrideConfiguratorSpec.
I will be happy to check that everything running fine with our continuous integration (to run all behat scenario) and to merge it.
Thank you!

[2016-01-18 10:45] alexisfroger opened #3892 "Add a new group directly in the product form"
Hi,

If my product doesn't have group, is it possible to add a new group directly in the product form ?

![image](https://cloud.githubusercontent.com/assets/15442639/12389312/20217b34-bdd8-11e5-9c86-7dfbd3aeb312.png)

Today, there is not group attribute when I create a new product :

![image](https://cloud.githubusercontent.com/assets/15442639/12389361/748524d2-bdd8-11e5-9dad-f2e5d38bc6ab.png)

[2016-01-18 14:28] LaureBro commented on #3892
Hello,

thanks for your message, unfortunately, it is not possible: you have to add a product to a group in Enrich/Groups (or Variant groups) menu.
Please note that a group is not considered as an 'attribute' but as a feature that allows to gather products. The Group information is only displayed when a product already belongs to a group.

Best regards,

Laure

[2016-01-20 15:01] Hocdoc commented on #3595
The issue is still there in 1.4.17.

I think the problem is that missing product values get converted to a single empty-string-field in `Pim\Bundle\TransformBundle\Normalizer\Flat\ProductValueNormalizer` (data is `null`) regardless of the attribute type. So we are missing f.ex. the `-unit`-columns for empty metrics.

`ProductToFlatArrayProcessor.process()` calls a `addMissingProductValues()`, it s

[2016-01-20 15:24] nidup commented on #3771
Thank you very much for the feedback.
I reproduced it, I add it in our scalability improvements

[2016-01-20 18:38] Valentyn-Kubrak opened #3906 "Custom catalog tree not exported"
Trying to export product from custom catalog tree. I think you need to add better logs or notifcations.
Because I can't understand what  I need to change to make it works. No errors, no information.

Jus this debug info:

[2016-01-20 19:35:03] batch.DEBUG: Job execution starting: startTime=, endTime=, updatedTime=, status=2, exitStatus=, exitDescription=[], job=[export_navision_products_to_magento

[2016-01-20 18:54] Valentyn-Kubrak commented on #3906
Can be it related to bug:
https://github.com/akeneo/pim-community-dev/issues/3686

?

I have integer values for category codes.

[2016-01-20 18:56] Valentyn-Kubrak commented on #3906
Just completed, No errors, no info. I have right channel with my custom catalog tree for this export, products info completed, products assigned to categories. What I need to do? Please help.

![41de1-clip-30kb](https://cloud.githubusercontent.com/assets/2140144/12459606/5422dc98-bfb8-11e5-93c0-30d1d33e987c.png)

[2016-01-20 19:09] nidup commented on #3595
Hi @Hocdoc

Thank you for this very well qualified bug report!

Functionally speaking, the quick export has been designed to export all attributes belonging to selected products in the grid.

In 1.4.12, we fixed this quick export with the ticket PIM-5215 to ensure that even when the product values are not yet stored in the database (what happen when you create a product with a family without savin

[2016-01-20 19:21] nidup commented on #3906
Hi @Valentyn-Kubrak

Yes, agree, we need to improve our import/export log :)

I don't think it's related to the category ids issue.

If you're using the version 1.4, installed with MySQL storage, and exporting via the standard csv product export (at least same reader), you'll be interested by
 - this reader to see which product ids are loaded https://github.com/akeneo/pim-community-dev/blob/1.4/sr

[2016-01-21 01:10] Valentyn-Kubrak commented on #3906
@nidup

Thank you for a quick answer.

After happy night debugging  I found some interesting moment, looks like the problem was in calculation of "Completeness". After deleting  all attributes from my specific "family"  (where assigned these attributes to my channel) export generated records. It's strange because I checked   "Completeness" at least of 10-20 products, but before it did't help.

[2016-01-21 09:08] alexandrzhulev opened #3907 "Price attribute format inconsistency"
Hello,
I faced with case that:
- in product Grid price attribute value is viewed in format "X,XXX.XX"
- in product edit screen price attribute value is viewed in format "XXXX.XX".

From my point of view - it can be called as "inconsistency" and should be provided one unique format for all views.
Besides, while applying inline edit for Product Grid - posted price in format "X,XXX.XX"  is not suppor

[2016-01-21 09:58] pierallard commented on #3907
Hi alexandr!

Thanks for your interesting feedback. Actually, you're right, we have 2 available formats: the displayed format and the input format. They can be different, especially with the thousand separator. I will try to explain why we have chosen this solution.

- For the displayed format, we use the standard format (defined by the NumberFormatter of php).
- For the input format, we only take

[2016-01-21 10:26] alexandrzhulev commented on #3907
Thanks for your reply. Now it is clear.

[2016-01-21 10:35] alexandrzhulev opened #3908 "New command for clearing versioning table"
Hello, I found that after clearing products from the system - the database still holds data about products (attributes, groups, etc) in pim_versioning_version table. So, this table increases in size all the time.
To my opinion there should be some mechanism to clear this table - for example by console command (like existing `pim:versioning:refresh`).
What do you think about this?

Regards, Alexand

[2016-01-22 15:04] #3907 closed

[2016-01-23 10:10] nidup commented on #3429
Hi @Hocdoc
By auditing the application with different data set, I think encountered the issue that you described here.
I didn't encountered it on my previous tests because I measured products updates and the regression only impact product creation.
You may be interested by this work in progress pull request https://github.com/akeneo/pim-community-dev/pull/3916
FYI, we're working on adding automati

[2016-01-23 12:15] nidup commented on #3908
Hi @alexandrzhulev

Thank you for this valuable feedback, we have an improvement in our product backlog related to this cleanup task but not highly prioritized, so we'll not release it soon. I'm 100% agree with the introduction of a new command.

A new ```pim:versioning:cleanup``` command should rely on a project configuration, for instance, to remove all versions older than 60 days. We should als

[2016-01-25 10:33] lpxavi opened #3918 "Associations products not saved"
Hello,

when I try to associate a product with another product, the association isn't always saved.

I noted when this problem occured, if I load the home page and I refresh browser cache, the association's products backup run at new.

Someone noted this problem yet ?

Thank's !

[2016-01-25 10:40] lpxavi opened #3919 "Product page don't load"
Hi',

sometimes a product page don't load entirely.

More exactly, the product page appear but we can see only the header and the footer.
The request ajax is directly reset.

Someone know this problem ?

Thank's.

[2016-01-26 17:23] mathielen opened #3931 "ProductQueryBuilder and default_locale & default_scope"
Hi there,

When I am using the ProductQueryBuilder with the default_locale and default_scope options I would expect that these defaults are in effect when using the ->getValue(...) methods of the resulting products. But obviously its not. Do I misunderstood something or is it a bug?

[code]

Best regards
Markus

[2016-01-28 12:05] alexandrzhulev commented on #3908
Hello @nidup

I'll work on this. If there would be question for clarification - I'll contact you.
I have already looked at this a little bit - think it'll be complicated but I'll try.

Regards, Alexandr

[2016-01-28 12:41] nidup commented on #3908
Hi @alexandrzhulev
Great news!
Don't hesitate to push a very first draft of the command without conf, etc
It will be easier to discuss on some code, i will be happy to help :)

[2016-01-28 14:42] willy-ahva commented on #3788
Hi Grégory,

If I understood well steps your described can be enunciate as :

 - Export a product with a media with the product CSV export.
 - Modify only the price or something else but not the media.
 - Import the file and import it with the product CSV import.

-> It results to your error.

I exactly tested this with the v1.4.18 ORM, I had no error and the price was correctly updated.

Please,

[2016-01-29 15:40] NovikovViktor opened #3948 "Add custom ACL resource and configure permissions"
Hello, I created custom controller class and want to apply access restriction on it. So according to [Akeneo documentation](http://docs.akeneo.com/1.4/cookbook/acl/define-acl.html) I defined appropriate ACL. Then I wanted to restrict it for some role, so I went to 'System/ Users Management/ Roles'  and it is not visible on tab 'Permissions'. So I tried to figure out how existing permissions list

[2016-01-31 21:34] mathielen opened #3950 "1.5.0 Alpha1 - PHP Fatal error: Class 'Oro\Bundle\UserBundle\Form\Type\UserType' not found in 'Oro\Bundle\UserBundle\Form\Type\UserApiType'"
...after installing akeneo 1.5.0A1 via composer

[2016-02-01 15:15] NovikovViktor commented on #3948
So, I figured out how to add ACL's have them to manage on permissions tab (though Akeneo documentation doesn't consist this information).  But it still unclear how Akeneo handle `acl.yml` and UI gets this data.

Could you please clarify this?

Regards, Victor.

[2016-02-02 08:29] alexisfroger opened #3958 "1.4.18 Add attribute in product form"
Hi,

I just moved on the 1.4.18 version. When I am in the product form and I click on the "add attribut" button I have a code message like this picture. Is it normal ?

![image](https://cloud.githubusercontent.com/assets/15442639/12743484/77bef9b8-c98e-11e5-8f3f-1534b69cb0c3.png)

[2016-02-02 08:43] LaureBro commented on #3958
Hello Alexis,

It's a French translation missing, it will be implemented with the next patch.
It's not normal but it happens sometimes, since we rely on Crowdin to translate the French wording, we can have a small delay before translations appear.
(If you want to participate to Akeneo's translations, here's the link to our Crowdin project: https://crowdin.com/project/akeneo)

Best regards,

Laure

[2016-02-02 08:46] alexisfroger commented on #3737
Hi,

I just moved on the 1.4.18 version and there is always the same problem.

Indeed, the product form save the last channel used. If i change my default channel to a specific channel, next time it will be the specific channel to be used and not my default channel !

Is it possible to configure my default channel for each opening product form it will be used ?

Thanks

[2016-02-02 08:59] alexisfroger opened #3959 "Question : check all categories above ?"
Hi,

I have a question about categories. When I check a category box in the product form, is it possible to check all categories above ?

![image](https://cloud.githubusercontent.com/assets/15442639/12744159/f4bcbeba-c992-11e5-9b7f-9d7d9e6fa1c0.png)

![image](https://cloud.githubusercontent.com/assets/15442639/12744192/23fc319c-c993-11e5-8d45-0593d72a776b.png)

[2016-02-02 09:03] alexisfroger commented on #3958
Thank you for your answer. I will look your Akeneo's translations project !

[2016-02-05 08:50] Hocdoc commented on #3595
Thanks about your always-helpful information and the details about the metrics columns.
I've created a mini-PR that fixes this issue (at least for our data).

QuickExport also seems to export the associations if they are set.

In the future maybe it's also possible to refactor the classes from  `Pim\Bundle\EnrichBundle\Connector\Processor\QuickExport\ProductToFlatArrayProcessor` (used for the Quic

[2016-02-06 21:09] NovikovViktor commented on #3817
Hello, @nidup , sorry for such long term answer. Sure, I would be glad to help.

[2016-02-06 21:18] NovikovViktor opened #3971 "After import product history displays that all changes were made by default admin user"
Hello,
I found that when I run import from any user, in product history it displays that all changes were made by default admin user. Even when I delete admin user it continues to mark all import updates as from "admin - Removed user". So I have few questions regarding this:
1) Is it done intendently?
2) What class is responsible for setting version author? Is it `VersionManager` class? (I would t

[2016-02-08 09:42] NovikovViktor commented on #3971
Hello, @nidup ,
after more investigation I found that [here](
https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/VersioningBundle/EventSubscriber/AddUserSubscriber.php#L59), getToken() always return null, so it seems like always all versions on import will be applied from admin user.  And it seems like not very simple issue to solve, possible this could be fetched from job inst

[2016-02-08 12:12] LaureBro commented on #3918
Hello Xavier,

I have tried to reproduce your issue on demo.akeneo.com, but could not succeed into.

Could you give us more details about the step taken?
Did you make some specific customisation on the PIM?

Thanks a lot,

Laure

[2016-02-08 15:56] DrewK289 opened #3974 "All old (empty) attributes are retained when changing the family of a product"
When we change the family of a product, we expect any empty attributes that do not exist in the new family to be removed, but that does not happen; all the attributes from the old family are retained, and a delete option shows up next to them.

Would it make more sense to only retain attributes that have values, and remove any of the attributes that do not exist in the new family if they are empty

[2016-02-09 09:24] lpxavi commented on #3918
Hello Laure,

thank's you for your assistance.

We have find the problem.

First, we had a corrupted database.

Second, the association does't work when we don't wait the end of ajax loading before select the product to associate.

Thank's !

[2016-02-09 11:06] jmleroux commented on #3974
Hello @DrewK289 ,

Thanks for this improvement proposal. We will submit it to our product owner and give you some feedback ASAP.

Regards,
JM

[2016-02-09 11:12] jmleroux commented on #3919
Hi @lpxavi ,

could you have a look at the developer console (Chrome) or firebug (Firefox) and give us the possible error message ?

[2016-02-09 11:50] nidup commented on #3971
Hi @NovikovViktor,
Yes, this default hard-coded admin is part of our legacy / work as not well designed ;)
When running cli commands (what happens for any backend processes, import, mass edit, etc), there is no authenticated user, so the token storage does not allow to identify a user.
In the Enterprise Edition we have some backend processes (as the mass edit) that need to authenticate a user to p

[2016-02-09 11:56] jcpla opened #3977 "Quick export on demo website"
Hello all,

It might be a problem on the quick export or maybe I don't know how it works.

I connected to http://demo.akeneo.com/ , product listing, select products and click quick export (some incomplete or complete products)

I just have the notice : "×Quick export has been launched"
But nothing is downloading. It is not in history export profiles.

Thanks for the response
BR
JC

[2016-02-09 11:59] nidup commented on #3595
thank you for the PR! (a core member will handle it quickly).
agree about the refactoring we should simplify those, it seems there are small differences about the behavior of these two exports.
we continuously improve the import / export part of the PIM and there is still a lot to do :)

[2016-02-09 12:23] jcpla commented on #3977
ok, i found where to find the export
in the toolbar => System => Process Tracker

BR
JC

[2016-02-09 12:23] #3977 closed

[2016-02-09 12:46] #3507 closed

[2016-02-09 17:00] nidup commented on #3429
Has been fixed with #3939 will be released in the upcoming 1.4.19.

[2016-02-09 17:00] #3429 closed

[2016-02-09 19:37] NovikovViktor commented on #3971
Hello, @nidup,  thanks for your repply. So as I understand import is not part of thoose jobs where `initSecurityContext(StepExecution $stepExecution)` method is used right? I am not quite good familiar with Akeneo architecture but in my humble opinion is looks like user can be fetched from job in [AddContextSubscriber](https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/Versioni

[2016-02-10 16:35] lpxavi commented on #3919
Hello,

this bug appear only with IE10 and 11.

I fix it changing in messenger.js localStorage by sessionStorage.

For IE access to localStorage link being un hack.

Mayby this is not a good solution but it run right.

Thk's

[2016-02-11 09:08] jmleroux commented on #3950
Hello @mathielen ,

did your clear all your caches ?
Symfony chaches, but also APC cache (an apache restart will clean it automatically).

Regards,
JM

[2016-02-11 09:37] Hocdoc commented on #3592
As this issue was closed: Will this issue get fixed in 1.4 or 1.5?
The issue is still there in 1.4.18.

[2016-02-11 09:46] jmleroux commented on #3931
Hi @mathielen ,

This is not a bug, the default context is used to fulfil locale and scope parameter when we filter on a attribute without providing locale and scope, in the query in fact. It does not affect the objects hydration (the product values) after the filtering.

Regards,
JM

[2016-02-11 09:50] jmleroux commented on #3919
hello @lpxavi ,

Glad you found a workaround, but maybe you can try to adjust your system settings for "Trusted zones" as it can be the source of your problem.
You can have a look at this discussion for a more precise description : http://stackoverflow.com/questions/13102116/access-denied-for-localstorage-in-ie10

Feddback welcome ;)

Regards,
JM

[2016-02-11 11:07] mathielen commented on #3931
Ok, just thought it would make sense to use the defaults while hydrating, too. Nevermind :)

[2016-02-11 11:07] #3931 closed

[2016-02-11 11:14] mathielen commented on #3950
Hi @jmleroux,

Yes, I think so. Not sure if I got everything right, but if you have a look at https://github.com/akeneo/pim-community-dev/tree/master/src/Oro/Bundle/UserBundle/Form/Type you won't find a class UserType there, as in the previous 1.4 versions. I think the class is just missing...

Regards
Markus

[2016-02-11 14:36] phaseinducer commented on #3429
The patch is available ; )

[2016-02-12 09:45] Hocdoc commented on #3429
Wow, this patch gives use a real performance boost.

In Akeneo 1.4.18 we needed 82 hours to import 150,000 products.
In Akeneo 1.4.19 we need just 11 hours for the same job (=7 times faster!).

Also re-calculating the completeness is now 3 times faster.

Thanks for this amazing work!

[2016-02-12 10:08] nidup commented on #3429
Thank you very much for the feedback @Hocdoc !
We're still working a lot on this topic cf http://docs.akeneo.com/latest/reference/scalability_guide/index.html and http://docs.akeneo.com/latest/reference/performances_guide/index.html

[2016-02-12 11:15] nidup commented on #3592
Not yet implemented, we're discussing with product owner, for sure not in 1.4 or 1.5.

[2016-02-15 12:30] Hocdoc opened #3990 "Products get auto-enabled during CSV import"
After updating disabled products with the CSV product import they get automatically enabled. The CSV doesn't contain  an `enabled` column.

I would expect that the product status stays the same when the `enabled` column is missing.

[2016-02-15 15:02] LaureBro commented on #3990
Hello Hocdoc,

Yes, if no information is added to the import file, the products' statuses will not be kept. Adding a column 'enabled' in your import file, even empty will make sure that statuses are kept.

This system will be improved in the 1.5.

Best regards,

Laure

PS: which PIM version are you using: 1.3 or 1.4?

[2016-02-15 15:08] Hocdoc commented on #3990
Ok, thanks for your information. (Although I think the import should keep the products statuses.)
I'm using 1.4.19.

[2016-02-16 13:15] julienanquetil commented on #3990
Same thing here in 1.3.38

[2016-02-16 14:56] NovikovViktor opened #3998 "Run several imports in one console command"
Hello, @nidup , for some purposes I need to run few imports one by one.
So I created console command which runs two commands like described [here](http://symfony.com/doc/current/components/console/introduction.html#calling-an-existing-command).
The problem is when I run "wrapper" command, the first internal command runs successfully, but the second runs unexpectedly. On terminal it duplicates mess

[2016-02-17 08:20] nidup commented on #3998
Hi @NovikovViktor
I assume you run "batch:job" command twice in the wrapper command.
The batch system has not been designed to support this use so there are maybe isolation issues.
In fact, in the PIM, the "batch:job" command is always run through a new system process (cf SimpleJobLauncher), I think in your case the main problem come from running twice in the same process.
I would take a look in A

[2016-02-17 09:02] alexandrzhulev opened #4001 "Problems with selecting first channel from dropdown on product grid"
Hello,  @nidup !
While working with Akeneo as a user I have found following issue:
- after selecting from drop-down some channel - and then trying to return to the first channel from dropdown - it doesn't work, the state of grid is not swichted.
It occurs under following condition:
- from product grid go to product detailed view - then return back to product grid.
Browser Console displays followin

[2016-02-17 09:03] NovikovViktor commented on #3998
Hello @nidup, thanks for reply.

No, I run different job instances (e.g. `csv_product_import1` and `csv_product_import2`).

Yes, this is exactly what I need.

According to partial review of `Akeneo\Bundle\BatchBundle\Command\BatchCommand` it looks like each command runs with different instances by passed job code, and doesn't share any context.

Regards, Viktor & Alexandr.

[2016-02-17 16:53] LaureBro commented on #3990
Hello Hocdoc,

We understand it's not the ideal way to manage this, but since it has always been working this way, changing this behaviour could impact many customers or users...
That's why it has been changed in the 1.5, and not been patched before.

What you can do if you are using a standard import is to override the class Pim\Bundle\BaseConnectorBundle\Processor\ProductProcessor to get the des

[2016-02-18 07:20] Hocdoc commented on #3990
Thanks for the source patch!
I'm already curious about 1.5.

[2016-02-18 07:20] #3990 closed

[2016-02-18 11:30] TonioxXx commented on #4001
We also notice that issue on the solution we deployed.
Moreover, when it occurs, the forms behaviours are quite strange then. Saving associations seams to fail and JS erros apears in console.

I subscribe to notifications on this thread

Regards

[2016-02-18 13:31] TonioxXx opened #4009 "Checkbox state issue in association grid"
Hi everybody,

It seems that there’s a problem with association grid in product edit form.
The case occurs on demo site too.

Here are steps of our test case :

1.	Login
2.	Enrich > Products
3.	Select one product in the list
4.	Go to association tab
5.	Select the second sub-tab to display the second association grid
6.	Click to select all checkbox
7.	Click back button [<]
8.	Confirm [ok] to leave

[2016-02-18 13:51] nidup commented on #3732
Hi @xabbuh

You may be interested by this PR https://github.com/akeneo/pim-community-dev/pull/3999
Especially this file https://github.com/akeneo/pim-community-dev/pull/3999/files#diff-4d97caaed927eb8dbfdaaab7ea499912

Cheers!

[2016-02-18 15:14] LaureBro commented on #4009
Hello TonioxXx,

Thanks a lot for your detailed message with all the steps taken to generate the issue. I could reproduce it on my side too.

I've asked our dev team to take a look and fix it as soon as possible, we'll keep you updated.

Best regards,

Laure

[2016-02-18 16:03] xabbuh commented on #3732
@nidup It's intended to fix the other issue you pointed out here, right?

By the way, I didn't forget about this issue (I am hopefully able to come up with a fix for it next week).

[2016-02-19 07:07] nidup commented on #3732
Yes, it fixes the second issue, we'll need to test / double check if it eases the fix of the first one.

[2016-02-19 10:37] mathewrapid opened #4011 "EventDispatcher property not declared in ProductBuilder"
It is dynamically added in https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/CatalogBundle/Builder/ProductBuilder.php#L80
but it's not declared in the class.

[2016-02-19 11:26] nidup commented on #4011
Hi @mathewrapid
Thank you for the feedback! We would love to count you as our contributor, don't hesitate to open a Pull Request to fix this glitch.
To be able to merge the PR, i'll need that you read and sign our contributor agreement http://www.akeneo.com/contributor-license-agreement/
If not interested, let us know and we'll fix.
Thank you

[2016-02-19 12:03] mathewrapid commented on #4011
#4016

[2016-02-20 09:37] nidup commented on #4011
your related PR has been merged, thank you for your contribution! don't hesitate if you encounter any other issues!

[2016-02-20 09:37] #4011 closed

[2016-02-22 09:41] NovikovViktor commented on #4001
@alexandrzhulev and I use Akeneo 1.4, and we are getting error above.
But when I installed Akeneo 1.5.0-ALPHA1, I found that error is similar but it has another context.
![selection_001](https://cloud.githubusercontent.com/assets/8058373/13214571/1ef9a140-d959-11e5-92a5-ec03b719ac3e.png)

[2016-02-23 10:30] alexandrzhulev commented on #4001
After we investigated this issue deeper we have found that error was caused because of following two cases:
1. after visiting detailed product view page and going back to product grid - templates and javascript of detailed view are somehow also included to the page;
2. on product detailed view first channel select option doesn't consist "value" attribute.

Case 1 - not covered, for now we don't ha

[2016-02-23 18:36] nidup commented on #4001
Hi @alexandrzhulev and @NovikovViktor
Thank you for this detailed feedback and for the Pull Request, i reproduced on our demo and investigating.

[2016-02-23 22:07] hostep opened #4036 "Installing version v1.5.0-BETA1 using composer with the --optimize-autoloader flag outputs a bunch of 'Ambiguous class resolution' warnings"
Hi guys

Not sure if this is very important, but thought I should mention it.

When trying out version 1.5.0-BETA1, I noticed when installing the new version using composer and the `--optimize-autoloader` flag, it outputs a bunch of `Ambiguous class resolution` warnings. This doesn't happen when skipping the `--optimize-autoloader` flag.

Behavior without the `--optimize-autoloader` flag:
[code]

[2016-02-23 23:07] nidup commented on #4036
Hi @hostep
Thank you a lot for raising this issue, we're preparing the upcoming 1.5.0 and any feedback is welcome :)
In upcoming 1.5 to ease the migration process, we copy migration scripts from community-dev to community-standard during the install, cf https://github.com/akeneo/pim-community-standard/blob/1.5/composer.json#L61
This could explain the issue.
Ping @willy-ahva

[2016-02-24 09:15] mathielen commented on #3950
Same with BETA1

[2016-02-24 11:48] jjanvier commented on #3732
Hello @xabbuh

I think you problem is now solved with this PR https://github.com/akeneo/pim-community-dev/pull/3999. Could you check that it works for you by backporting it to your project please?

This listener is the key of the fix https://github.com/akeneo/pim-community-dev/pull/3999/files#diff-4d97caaed927eb8dbfdaaab7ea499912

[2016-02-25 19:51] TonioxXx commented on #4009
Hello Laure,

Do you have details to share me about solving this problem?
Or maybe a possible delay from the dev team ?

Best regards

TonioxXx

[2016-02-26 12:29] marcosbc opened #4062 "Problem displaying images added to a product as attribute"
Hi all,

I've found an issue that happens when you add a catalog image attribute to a product and try to display it. It is also **reproducible in the Akeneo demo** at: https://www.akeneo.com/demo/
I'm using Akeneo 1.4.20.

Steps to reproduce:
1. Create a sample catalog image attribute.
2. Create a new product.
3. Add the catalog image attribute to the product, upload an image. You will see the fol

[2016-02-28 20:44] a2xchip opened #4065 "LoadUser addGroup data fixtures bug, prevents to load custom data"
**I'm reporting a Bug**
The line of code linked above have to be deleted because it prevents to load users own fixtures where threre is no such group.
[addGroup('All')](https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/InstallerBundle/DataFixtures/ORM/LoadUserData.php#L98)

[2016-02-29 08:13] nidup commented on #4065
Hi @a2xchip
The group "All" is mandatory, the PIM can't work properly without this default user group.
You can fix your data set by adding this user group https://github.com/akeneo/pim-community-dev/blob/1.4/src/Pim/Bundle/InstallerBundle/Resources/fixtures/minimal/user_groups.yml#L8
Don't hesitate if you need any further information.

[2016-02-29 10:34] mathewrapid opened #4066 "JS validation is not run when creating product through the GUI"
[akeneo-pim-system-info_2016-02-29_12-15.txt](https://github.com/akeneo/pim-community-dev/files/150666/akeneo-pim-system-info_2016-02-29_12-15.txt)

When creating a product through the GUI the attached JS callback is not run on clicking the **Save** button.

Twig template `akeneo/pim-community-dev/src/Pim/Bundle/JsFormValidationBundle/Resources/views/JsFormValidation.js.twig`

[code]

The callback

[2016-02-29 11:49] mathewrapid commented on #4066
This is due because the form's submit is never run. The product creation dialog serializes the form without checking the JS-validation. Any suggestions how to fix this?

https://github.com/akeneo/pim-community-dev/blob/v1.4.20/src/Pim/Bundle/UIBundle/Resources/public/js/pim-dialogform.js#L50

[code]

[2016-02-29 13:55] buttash opened #4069 "Integrity constraint violation updating products"
I'm trying to update my products with price information from a csv file.  The file is of the format:

![image](https://cloud.githubusercontent.com/assets/4323877/13396296/bc4e0412-deeb-11e5-9954-b19a390d3a18.png)

Strangely, the output says that 25 products have been created (no items in the csv file are new as they refer to existing products) and then I get a contraint violation.

<img width="987

[2016-02-29 13:59] gmacaire opened #4070 "Can't view/access to catalog tree bottom entries"
Hello,

Using Akeneo without Google Chrome AND a screen resolution under 1280x1024px, it is impossible to view/access catalog tree bottom entries (including "Unclassified products" and "All products" entries).

![catalog](https://cloud.githubusercontent.com/assets/574706/13396223/b41ce012-def3-11e5-9d28-64b9101c1352.jpg)

Here is the result of a little test I did today with BrowserStack :

| OS |

[2016-02-29 14:14] grena commented on #4070
Hello @gmacaire and thank you for the report!

We recommend a resolution of 1280 x 960 for a better experience (see [the official doc](http://docs.akeneo.com/1.4/reference/technical_information/client_side_compatibilities.html#browsers) for more information).

As we try to do our best to support more & more configurations and resolutions, **your benchmark will sure help us** to improve this part,

[2016-02-29 14:36] gmacaire commented on #4070
Hey,

Thank you for the link ! I was looking for this information before opening the issue.

Since the UI isn't completely usable with a 1280x600px resolution, shouldn't you update the docs with 1280x960 pixels as minimal screen size ? It would be more appropriate don't you think ?

[2016-03-01 09:10] alexisfroger commented on #3958
Hey,

I updated on the 1.4.20 version. I always have the same error message ! Have you fixed this bug ?

Alexis

[2016-03-01 09:26] LaureBro commented on #3958
Hello Alexis,

Yes, it should have been fixed, but we got an issue with our script. I'll keep you updated.

Best regards,

Laure

[2016-03-01 10:50] grena commented on #3406
Hello @Hocdoc,
Thank your for your feedback!

On which version of the PIM did you have this?
I'll try to reproduce it.

Kind regards,
Adrien.

[2016-03-01 11:13] Hocdoc commented on #3406
I just tried it again in 1.4.20 where it now works without any problems.
It seems that the bug got already fixed somewhere in the last versions. Thanks.

[2016-03-01 11:13] #3406 closed

[2016-03-01 13:52] grena commented on #3511
Hello @wawan93, any update about this bug?

[2016-03-01 14:00] grena commented on #2511
Hello @sagikazarmark,

If you want to purge completeness (eg. when you had your problem for "fully completed product that will not be recalculate"), you can run the command `pim:completeness:purge` that will invalidate all completenesses for all families.

[code]

[2016-03-01 15:25] a2xchip commented on #4065
Where does akeneo use it?

[2016-03-03 16:35] userz58 commented on #3572
![scr](https://cloud.githubusercontent.com/assets/2612186/13501267/053824c2-e177-11e5-9f6d-bb243595d5b6.jpg)

[2016-03-04 11:31] nidup commented on #4065
You can find the list by looking at the classes calling this method https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/UserBundle/Entity/Repository/GroupRepository.php#L56

[2016-03-04 15:31] LaureBro commented on #4009
Hello TonioxXx,

The fix is ready and will be available in the next patch.

We plan to release it by the beginning of the week. I'll keep you updated,

Best regards,

Laure

[2016-03-05 02:56] a2xchip commented on #4065
@nidup I think the problem is that code relies on local specific name ```All``` instead of its key. For example my implementation uses russian as default language and i also have user group ```all``` but its name is ```Все``` and there is no english locale. I made thing you proposed and installation works fine but i can's see group ```All``` in group listing.

[2016-03-06 18:29] buttash commented on #4069
I've managed to get round this by working out which variant is being accessed and then removing all products associated to that product.

[2016-03-07 12:28] TonioxXx opened #4110 "Attributes options values translation / Current edit locale (display mismatch in Product form)"
Hi,

We noticed a problem with the translations of attributes options values, that don't correspond dynamically to the current edit locale selected.

The following screenshots have ben made on demo site (1.4.21) :
- Attribute configuration
  ![image](https://cloud.githubusercontent.com/assets/17314147/13569047/d93df7ce-e465-11e5-95ae-f8b13fca50a6.png)
- Go to a digital camera product sheet
  ![ima

[2016-03-07 12:46] LaureBro commented on #4009
Hello TonioxXx,

The 1.4.21 has been released this morning, it includes the fix for the association tab.

Best regards,

Laure

[2016-03-07 12:52] grena commented on #4110
Hello @TonioxXx , thank you for reporting this :bug:!

We didn't know about it, so thanks again :+1:
I added this bug to our _known-bugs-board_ (PIM-5629) to prioritize it, so no ETA yet for a fix.

You can monitor changes on this GitHub ticket, we'll close it once fixed.
Kind regards,

[2016-03-08 04:03] a2xchip opened #4114 "Import/Export Attribute Group feature"
Hello All! I'm curious is there plans to implement importer and exporter for attribute groups? If there is so - may somebody point me to the link of such PR or branch. May be i will be able to help with it too. I already checked enhanced connectors bundle and there are no such... Txh.

[2016-03-08 10:44] nidup commented on #4065
The group "all" never appears in the user management UI, neither in group list, neither in user edit, it's a system group added for any users created in the PIM. cf http://demo.akeneo.com/#url=/user/group

It's mainly used in Enterprise Edition to grant permissions to any users and appears in "permissions" tabs of "locale", "attribute", "category", etc (in the Enterprise Edition only).

For legacy

[2016-03-08 11:44] hostep opened #4119 "SKU with forward slash results in problems while exporting media files"
Hi guys

A client of ours has certain products which include a forward slash in the SKU.
For example `ABC/D`.

If we then perform an export using the [EnhancedConnectorBundle](https://github.com/akeneo-labs/EnhancedConnectorBundle) module, this puts the image associated with that particular product inside `files/ABC/D/image`.

We then try to import this using [PimGento](https://github.com/Agence-D

[2016-03-08 12:29] tonongregory opened #4120 "Locale specific"
Reported in 1.4.20
Tested on Akeneo PIM online demo.

Attributes flaged as "Locale Specific" are never exported.

In normalization process the following filter is applied

But `$value->getLocale()` always return null
Visibly value locale is never saved in database.

[2016-03-08 12:36] hostep commented on #4119
The more I think about it, the more I believe this is an issue in PimGento and not really in Akeneo.
So if you guys feel like this has nothing to do with Akeneo, feel free to close this ticket.

[2016-03-08 13:50] LaureBro commented on #4120
Hello,

You are right, locale specific attributes do not seem to be exported.
I have informed and created a ticket so our development team fixes it.
I cannot give you an estimated time of resolution, but we'll let you know when the bug will be fixed.

Best regards,

Laure

[2016-03-08 15:27] Hocdoc opened #4122 "Product PDF export doesn't work in the demo V. 1.5.0"
Exporting a product to PDF in the PEF doesn't work in the demo http://demo.akeneo.com/ (Akeneo 1.5.0)

But the PDF feature works for my local installation.

PS: Congratulations for the new 1.5 release :-) ! It would be cool, if you could add more details in the CHANGELOG. At the moment it just contains technical changes (BC breaks, bug fixes...) but no details from a user's point of view.

[2016-03-08 22:59] a2xchip commented on #4065
Thanks for your answer @nidup. Things became clear. I'm curious if it is possible to document it as "note" in ```Cookbook -> How to Customize Import / Export``` section? Detailed project documentation sometimes is much important than projects stability and features.

[2016-03-10 09:08] mathielen commented on #3950
I kind of fixed this problem in #4039. Not sure if the imported UserType class is the right one, though.

The reason why I was the only one getting this error was: I also used the JMSDiExtraBundle which in turn scans all the classes for annotations when building its cache. So it scanned the UserApiType class and did not find the base class => Exception.

Works with #4039.

[2016-03-10 09:20] LaureBro commented on #4122
Hello Hocdoc,

Thanks a lot for your message, I could not reproduce the error on demo.akeneo.com. Can you test again? If the error appears, can you send me the ID of the product on which you are testing?

We'll publish a release note on the 1.5 this afternoon on our blog, I'll send you the link when it's posted.

Best regards

[2016-03-10 09:39] Hocdoc commented on #4122
It still doesn't work for me.

F.ex.: http://demo.akeneo.com/enrich/product/1043?dataLocale=en_US
PDF-URL: http://demo.akeneo.com/enrich/product/1043/download-pdf?dataLocale=en_US&dataScope=ecommerce

=> Internal Server Error

[2016-03-10 10:26] LaureBro commented on #4122
Thanks for your quick feedback, could you retry now (before 11.42am French Time) so we can check all our logs? We reset the demo every hour, and previous logs are not available anymore.

[2016-03-10 10:31] LaureBro commented on #4122
Hello Hocdoc,

Do not take into account my previous message, we do keep logs, but could not find anything related to your issue.
If you still could reproduce the issue one more time and let me know at what precise time you tried, we'll check again our logs.

Here are the taken steps:
- Go to the product grid
- Click on one product
- Click on PDF button,
- PDF is downloaded and I can open it withou

[2016-03-10 10:34] Hocdoc commented on #4122
Now the PDF export works perfectly for me, thanks for your effort.

[2016-03-14 08:56] Hocdoc opened #4144 "Cannot install Akeneo 1.5.1"
Since some days I cannot install a clean Akeneo 1.5.1.

I have:
- created a fresh clone of https://github.com/akeneo/pim-community-standard
- installed the dependencies (`composer install`)
- run `pim:install` with the default `PimInstallerBundle:icecat_demo_dev` data
- I've cleared the cache several times.

When I open the PIM in the browser it renders the login screen. But after clicking the "Lo

[2016-03-14 09:32] grena commented on #4144
Hello @Hocdoc ! Thank you for your feedback :+1:
Unfortunately, I can't reproduce.

- When you clone the pim-community-standard, do you checkout the `v1.5.1`  tag or are you still on the 1.5 branch?
- Does your server have write permission on the folder `web/*`?

Kind regards,

[2016-03-14 10:12] Hocdoc commented on #4144
Thanks for your hints.
So it's just me, which is important to know for me.

(I have checkout `v1.5.1` and checked the write permissions but still get the same error. I will continue trying to install 1.5 and will write here if I get it running again.)

[2016-03-14 10:26] grena commented on #4144
Thanks.

Can you try to run these commands in the root of your project please:
[code]

Tell me if it helps :)

[2016-03-14 10:42] Hocdoc commented on #4144
Unfortunately these commands don't change my installation problem.

[2016-03-14 14:52] mathewrapid opened #4147 "Memory leak during product export"
I'm using the EnhancedConnectorBundle to export all the products that are in the system regardless their status, completeness etc.

There are almost 110 000 products in total. For every 100 products the memory consumption increases by ~30 MB. There must be a memory leak somewhere within the while loop in https://github.com/akeneo/pim-community-dev/blob/v1.5.0/src/Akeneo/Component/Batch/Step/ItemSt

[2016-03-14 15:04] grena commented on #4147
Hello @mathewrapid !
Thank you for reporting this kind of behaviour, we really try to work hard on scalability issues.

Sorry for asking, but did you launch your export with a prod environment?
I'm pinging the EnhancedConnector team to see if they know something about it.

Kind regards,

[2016-03-14 21:31] bxnxg commented on #4144
Hi,

Same here, I started to install Akeneo today, respectively following the [installation process](http://docs.akeneo.com/1.5/developer_guide/installation/installation_workstation.html).

I downloaded the 1.5.1 version, installation whitout problem and block witeh the same error after login admin/admin.

`An exception has been thrown during the rendering of a template ("Error during translations

[2016-03-14 23:47] jmleroux commented on #4144
I just made a fresh installation at home, with no existing database :

[code]

I can log in as admin and see the product grid without error.
Sorry to not reproduce.

[2016-03-15 06:42] Hocdoc commented on #4144
I get the installation of Akeneo 1.5.1 now running on my system.

It seems to be just a permission problem, Akeneo needs write permissions to `web/js/translation/` otherwise the [creation of the translation](https://github.com/akeneo/pim-community-dev/blob/1.5/src/Pim/Bundle/EnrichBundle/Twig/TranslationsExtension.php#L69) fails.

I'm not sure why it works now, because I really have checked the wr

[2016-03-15 07:26] mathewrapid commented on #4147
Yes, the command is as follows `php app/console akeneo:batch:job csv_all_products_export --env=prod`
I'll try to reproduce this with a v1.4.20 installation and report my findings later.

[2016-03-15 08:56] bxnxg commented on #4144
OK, i will check later and confirm if the problem is solved or not.
Thanks everyone :+1:

[2016-03-15 10:33] grena commented on #4147
Thank you for keeping us up to date! :+1:
Do you have a lot of media attributes to export?

[2016-03-15 11:24] mathewrapid commented on #4147
Media attributes: none

[2016-03-15 12:58] mathewrapid commented on #4147
Tested with v1.4.20.

Same MySQL database, same MongoDB, same export, huge difference.

`echo (memory_get_usage(true) / 1024 / 1024) . PHP_EOL;`

v1.5.0 (batch size 10) `Akeneo\Component\Batch\Step\ItemStep::doExecute`

Iteration|Memory usage in MB
------------|------------
1|60.5
2|63.75
3|66.5
4|70.25
5|73
6|75.75
7|78.25
8|81
9|85.5
10|88.25

v1.4.20 (batch size 10) `Akeneo\Bundle\BatchBundle\S

[2016-03-15 13:02] mathewrapid commented on #4147
This might not be exclusive to the EnhancedConnector export, the server runs out of memory even for imports with v1.5.0

[2016-03-15 13:40] solivier commented on #4147
Hi @mathewrapid,

Thanks a lot for those reports. Did you bench it on a 1.5.0 without any external bundle ?

cheers,
Olivier

[2016-03-15 13:47] mathewrapid commented on #4147
Same custom codebase with both tests, so no.

My v1.4.20 installation uses `doctrine/mongodb-odm (1.0.4)` where the v1.5.0 uses the `1.0.5` version of that. https://github.com/doctrine/mongodb-odm/compare/1.0.4...1.0.5
Don't know if that could have anything to do with this.

[2016-03-15 19:07] bxnxg commented on #4144
OK that was just a permission problem for me, thanks

[2016-03-16 08:49] clicktrend commented on #4144
I use `pim:installer:assets` command in composer to finish my deployment.

The problem is here:

`https://github.com/akeneo/pim-community-dev/blob/master/src/Pim/Bundle/InstallerBundle/Command/AssetsCommand.php#L54`

"en_US" is missing.

[2016-03-16 12:54] emaan-zepcom opened #4152 "Uncaught exception 'PDOException' with message 'SQLSTATE[42S02]: Base table or view not found: 1146 Table 'akeneo_cow_1042.oro_config' doesn't exist' in"
I am facing issue while installing akeneo steps i followed :

-Unzip downloaded project
-changed database and user setting with custom database
-changed mode as prod
now its throwing following error :
 Base table or view not found: 1146 Table 'akeneo_cow_1042.oro_config' doesn't exist in /var/www/akeneo.cow.pttde.de/vhosts/www/src/pim-community-standard-v1.4.18-icecat/vendor/doctrine/dbal/lib/Doct

[2016-03-16 14:02] grena commented on #4144
Hello guys,

Indeed the thing is, we generate only "common" locales on install. The one you list @clicktrend .
When switching locale in the PIM, the related .js translation file is generated on-the-fly (en_UK.js, fr_CH.js, and so on).

We're currently reviewing this to generate all localization files when dumping assets, it's currently WIP and will be available in an upcomping patch on 1.5.

[2016-03-16 14:39] TonioxXx opened #4156 "Critical issue on binding events / Cumulative bind events on association tab"
Detected on v1.4.21
Reproduced on demo site 1.5.1

In product edit form, under "Associations" tab :

If you click on another association type to change the current one, the datagrid is refreshed by the two next calls :
- http://demo.akeneo.com/datagrid/association-product-grid?association-product-grid...
- http://demo.akeneo.com/datagrid/association-group-grid?association-group-grid...

=> OK

`ev

[2016-03-16 15:25] grena commented on #4156
Hello @TonioxXx,

Thank you for this report! I reproduced it on our server. I created a major ticket on our board, we'll prioritize this ticket and close this GitHub issue once fixed.

If you want to contribute to this project and see how it could be fixed, you're welcome to open a Pull Request, we'll be glad to help you to merge it :)

Thanks again.

[2016-03-16 15:36] s0ps opened #4158 "Upgrade to 1.5.1 product history missing"
**I'm reporting a Bug**

After upgrade to 1.5.1 product history is missing.
It is missing probably because pim_versioning_version resourceName is "Pim\Component\Catalog\Model\Product" in new version, but "Pim\Bundle\CatalogBundle\Model\Product" in older versions.

[2016-03-16 15:49] grena commented on #4158
Hello @s0ps !

Thank you for reporting this. Indeed, it's a sad oversight on our part!
Hopefully we have a incredible community, so thanks again for pointing this :family:

I created a ticket on our board to track this down and fix it, this GitHub issue will be closed once merged.
Thanks again!

[2016-03-17 12:21] Hocdoc commented on #4122
I still have problems with the product PDF export in Akeneo 1.5.1:

This is still in the Akeneo demo, f.ex.when creating the PDF for the propduct with the SKU `10699783` (13:20).

I think the problem is creating a PDF for products that contains an image.

The `ImageExtension` still use the old Akeneo 1.4 paths for `AttributeInterface` and `ProductInterface`:

https://github.com/akeneo/pim-communit

[2016-03-17 16:33] Hocdoc opened #4168 ""Quick Export/CSV (All attributes)" menu stays after click"
In Akeneo 1.5.1 when I click in the product grid on the "Quick export" button, and then "CSV (All attributes)", the menu item doesn't disappear.
So it is very tempting to start the QuickExport another time as nothing seems to happen.
Only with a click outside the menu item the item hides.

You can test this with the Akeneo Demo http://demo.akeneo.com/enrich/product/ .

In Akeneo 1.4 the menu item

[2016-03-17 16:56] grena commented on #4168
Hello @Hocdoc !
You're right, I reproduced it too on the demo env.

I've created an internal ticket to follow & fix the issue. We'll close this GitHub issue once merged.

Thanks again!

[2016-03-17 17:27] Hocdoc commented on #4147
+1 I'm also interested in this issue.

As a side note my first tests with the new version:
- For our use case the export for a small number of products is a lot faster in Akeneo 1.5 than in Akeneo 1.4.
- Unfortunately the export of >1000 products gets much slower (or are not possible) in Akeneo 1.4 compared with Akeneo 1.5.

To compare I've used the same data for both Versions while using the MySQ

[2016-03-18 10:41] nidup commented on #4147
Hi @mathewrapid

Thank you a lot for reporting this issue!

About MongoDB dependencies, in 1.4 we use,
[code]
In 1.5, we use,
[code]

The mongodb-odm v1.0.0-BETA12 contains a memory leak issue related to cascade detach, we fixed it in 1.4 with https://github.com/akeneo/pim-community-dev/blob/master/src/Akeneo/Bundle/StorageUtilsBundle/Doctrine/Common/Detacher/ObjectDetacher.php#L186

When we manip

[2016-03-18 11:01] mathewrapid commented on #4147
@nidup No, 80 MB is not much, but the memory usage never stabilizes. I did run out of 3 GB memory with that export on 1.5. With 1.4.20 it eventually stabilized at approx 100 MB for the same export.

[2016-03-18 11:10] #3511 closed

[2016-03-18 12:37] #3950 closed

[2016-03-18 13:41] jcpla opened #4179 "Product value = 0 not saved when required in family"
Hello Akeneo Team,

There is a bug on demo.akeneo.com

On this new product : http://demo.akeneo.com/enrich/product/1123?dataLocale=en_US

I tried to save the attribute "Maximum frame rate" in the group technical with the value = "0".
=> the product is saved but not the value - it is empty.

There is a workaround :
Put the value = "1", save the product, update to "0" and save again.

You can do it

[2016-03-18 15:21] nidup commented on #4147
@mathewrapid thank your very much for the details, we're on the same page :smile: I agree that 3 GB is way toooo much, i'm testing with our different default data sets and i keep you posted.

[2016-03-19 07:47] nidup commented on #4152
Hi @emaan-zepcom

Did you follow this installation documentation http://docs.akeneo.com/latest/developer_guide/installation/installation_workstation.html ?

[2016-03-19 07:49] #3919 closed

[2016-03-19 08:25] nidup commented on #4147
@mathewrapid I tried to reproduce with our tests data set and the used memory stabilizes at ~65MB for a product export (1.5 standard installation with mongodb 2.4, php 5.5).

I guess your data set highlights a memory leak that our own data sets does not allow to reproduce.
I'm very interesting to find and fix it, are you agree to share your project code and database dump to help me to reproduce an

[2016-03-19 08:29] nidup commented on #4179
Hi @jcpla
Thank you for the detailed feedback!
We managed to reproduce it, the issue is due to a change in 1.5 impacting the use of optional attribute (attributes added directly in the product and not in its family).
We created an issue in our internal bug tracker (number PIM-5666), our team will handle it and we'll keep you posted once fixed.

[2016-03-19 08:31] nidup commented on #4122
Thank you a lot for the related PR!, we'll merge it next week (we're first merging few 1.4 fixes to 1.5). \cc @grena @solivier

[2016-03-19 08:36] nidup commented on #4114
Hi @a2xchip !

In fact, we already import these kind of data during the installation (we don't export them for now).

In 1.5, we import them as yml file you can be interested by this batch_job configuration https://github.com/akeneo/pim-community-dev/blob/1.5/src/Pim/Bundle/InstallerBundle/Resources/config/batch_jobs.yml#L23

We're re-working the import system in the upcoming 1.6 to provide more s

[2016-03-19 08:37] #4114 closed

[2016-03-19 08:41] nidup commented on #3974
Hi,
We'll not change this behavior for now, we added a ticket in our idea manager board (number IM-469) to take it in account when we'll re-work the optional attributes topic.
Thank you again for your feedback.

[2016-03-19 08:41] #3974 closed

[2016-03-19 08:47] nidup commented on #3908
Hi @alexandrzhulev
Did you had time to move on this topic?
I ask because we recently re-discussed about this feature with our product owner :smile:

[2016-03-19 08:50] nidup commented on #4120
internal ticket number PIM-5639

[2016-03-19 08:52] nidup commented on #4065
Thank you for the feedback and agree with you that our documentation could mention this, don't hesitate to open a pull request on https://github.com/akeneo/pim-docs to add this information.

[2016-03-19 08:52] #4065 closed

[2016-03-19 08:58] nidup commented on #4062
Hi @marcosbc

Thank you for the feedback!

In fact the thumbnail is only computed and displayed when you save the product, the feature has been built this way but I do agree that this could be enhanced to display it just after the upload.

[2016-03-19 09:04] #4009 closed

[2016-03-19 20:17] a2xchip commented on #4065
Coming soon )) @nidup

[2016-03-19 21:27] a2xchip commented on #4114
Thank you. It was helpful! @nidup

[2016-03-20 09:54] nidup commented on #4065
Great! we'll be glad to help and merge :)

[2016-03-20 10:26] mathewrapid commented on #4147
I need to check that with the customer if they'll agree to handing over the data for testing.

[2016-03-20 10:41] nidup commented on #4147
Sure, no pb. A second possibility is to anonymize your catalog data. A third possibility is to generate a fake catalog with https://github.com/akeneo-labs/DataGeneratorBundle. Using same properties than your real catalog to be able to reproduce the issue. 1st is the more relevant, then 2nd then 3rd.

[2016-03-20 15:51] a2xchip commented on #4114
@nidup Amazing! But I finished import attribute group connector without any code written )))

[code]

[code]

:+1:

[2016-03-20 17:23] nidup commented on #4114
Good news :tada: ! Don't hesitate if you need any further information.

[2016-03-21 08:54] alexandrzhulev commented on #3908
Hi @nidup
Sorry, but for now I haven't time to work on this.
In general our idea is to create a command which would receive two input parameters :
- resource name (e.g. AssociationType, Attribute, Category, Channel)
- date (from what date entities should be removed)
I think such solution would be flexible and cover initial requiremnets.
I plan to work on it this week.

[2016-03-23 15:05] LaureBro commented on #3828
Hello @mathielen,

The 1.5 is now out, and the numbers, prices, metrics are now localised depending on the UI locale set in your user account.

This feature cannot be backported in lower versions.

Best regards,

Laure

[2016-03-23 15:25] LaureBro commented on #3337
Hello @darryla,

Sorry for the delay, I have informed our Product team of your request, but this improvement will not be part of our Roadmap.

If you feel like, you can still open a pull request, we'll be glad to help you to merge it.

Thanks, best regards,

Laure

[2016-03-23 15:43] mathielen commented on #3828
Works fine with 1.5. Thank you.

[2016-03-23 15:43] #3828 closed

[2016-03-26 02:14] a2xchip opened #4220 "Uncomplete export of attributes properties"
Attribute export doesn't exports custom type's properties. For example attribute typed as pim_catalog_price_collection doesn't export 'decimalsAllowed' property to csv.

[2016-03-27 11:03] nidup commented on #4220
Hi @a2xchip

Thank you for the report !
You're right, we should always export all attribute properties we're able to import.
A core dev also raised the following issue to our Product Owner,
[code]
Could you be interested to add these missing columns?

If interested thank you to read and sign the following contributor agreement https://www.akeneo.com/contributor-license-agreement/

To do so, we nee

[2016-03-27 15:17] a2xchip commented on #4220
@nidup I already signed i contributor agreement. Is it better to fix it after #4213 or there is no difference?

[2016-03-27 15:41] nidup commented on #4220
I don't find your github username in agreement responses (maybe a typo or a issue with our form), could you re-fulfill it please?
No difference, we can fix in same time, we'll just maybe have to rebase the second PR that will merge :)

[2016-03-27 15:42] a2xchip opened #4227 "Question: Mass edit error caused by incomplete transchoice-translation in russian."
If we select more than 4 products and our admin dashboard area is set to russian language we get error caused by incomplete transchoice translation.

Quick fix is to create ```app/Resources/translations/messages.ru.yml``` and paste there fixing translation like that.

[code]

The question: Is it fixed now in 1.5 or translations migrated from EnrichBundle?